[2020-02-27 03:55] acxz opened #1 "[Package Request] hipsycl"
https://github.com/illuhad/hipSYCL/releases

I would also like to highlight here that maybe we should separate the hipsycl packages like so: https://github.com/illuhad/hipSYCL#repositories

basically have a
- [ ] `hipsycl`
- [ ] `hipsycl-base`
- [ ] `hipsycl-rocm`
- [ ] `hipsycl-cuda`.

[2020-02-27 04:05] acxz opened #2 "[hip] Out of date"
hip is now on 3.1.0 https://github.com/ROCm-Developer-Tools/HIP/releases

[2020-02-27 04:16] acxz opened #3 "[Package Request] hip packages compiled with different backends"
Based on this page [here](https://github.com/ROCm-Developer-Tools/HIP/blob/master/INSTALL.md), I think it would be a good idea to package based on the backend.
- [x] `hip-clang`
- [x] `hip-hcc`
- [x] `hip-nvcc`

Of course all would `provides=('hip'). Similar to how we have `hipsycl-cuda-git` and `hipsycl-rocm-git`.

[2020-02-27 09:58] acxz opened #4 "[hcc] Out of date"
3.1.0 has been released. https://github.com/RadeonOpenCompute/hcc/releases

[2020-02-27 10:21] acxz opened #5 "[hcc] devendor"
Need to package and devendor hcc's submodules:
- [ ] [rocm-llvm](https://github.com/RadeonOpenCompute/llvm-project/tree/6a70953f87a209f37ea7884abdbb6bcb2d6db732)
- [ ] [rocdl](https://github.com/RadeonOpenCompute/ROCm-Device-Libs)

[2020-03-02 20:15] acxz opened #6 "[miopen] Out of date"

[2020-03-02 20:16] acxz opened #7 "[hip] Out of date"

[2020-03-02 20:16] acxz opened #8 "[rocrand] Out of date"

[2020-03-02 20:16] acxz opened #9 "[clang-ocl] Out of date"

[2020-03-02 20:17] acxz opened #10 "[roct-thunk-interface] Out of date"

[2020-03-03 02:34] acxz commented on #3
Closing this issue

[2020-03-03 02:34] #3 closed

[2020-03-03 02:56] acxz opened #11 "Discussion on package maintainance"
Thought I would make an issue chain since it is easier to follow.

So first thing first is to get all ROCm related packages in this repo
- [x] @neeshy
- [x] @farnoy
- [x] @naetherm
- [x] @ranisalt
- [x] @rigred

Once we have all the packages in this repo, it would be nice if we can get some CI going with this and automatic syncing with the AUR.

- [ ] CI
- [ ] automatic syncing to the AUR

Having

[2020-03-03 03:13] acxz opened #12 "[hipblas] out of date"

[2020-03-03 03:13] acxz opened #13 "[hipcub] out of date"

[2020-03-03 03:13] acxz opened #14 "[hipsparse] out of date"

[2020-03-03 03:13] acxz opened #15 "[rccl] out of date"

[2020-03-03 03:14] acxz opened #16 "[rocalution] out of date"

[2020-03-03 03:14] acxz opened #17 "[rocblas] out of date"

[2020-03-03 03:14] acxz opened #18 "[rock-dkms] out of date"

[2020-03-03 03:14] acxz opened #19 "[rock-dkms-git] out of date"

[2020-03-03 03:14] acxz opened #20 "[rocm-cmake] out of date"

[2020-03-03 03:15] acxz opened #21 "[rocm-profiler] out of date"

[2020-03-03 03:15] acxz opened #22 "[rocprim] out of date"

[2020-03-03 03:15] acxz opened #23 "[rocsparse] out of date"

[2020-03-03 03:15] acxz opened #24 "[rocthrust] out of date"

[2020-03-03 08:56] BrunoLiegiBastonLiegi opened #25 "[hcc] build failure"
Hello, I'm facing build failure while building hcc on manjaro 5.5.6-1. Compilation stops at the following point:

[1661/5463] Building CXX object compiler/projects/compiler-rt/lib/sanitizer_c...RTSanitizerCommonNoTermination.i386.dir/sanitizer_platform_limits_posix.cpp.o FAILED: compiler/projects/compiler-rt/lib/sanitizer_common/CMakeFiles/RTSanitizerCommonNoTermination.i386.dir/sanitizer_platform

[2020-03-04 03:16] acxz commented on #25
thx for reporting the error! Just from looking at the output, it seems like you are using hcc 2.10? Can you confirm if you are using the package on the AUR?

[2020-03-04 10:25] BrunoLiegiBastonLiegi commented on #25
Yes sorry about that, cause I tried also building the previous version, that must be the output of the second try.
This is what I get with 3.0.0:

[1665/5541] Building CXX object llvm-project/llvm/projects/compiler-rt/lib/sa...RTSanitizerCommonNoTermination.i386.dir/sanitizer_platform_limits_posix.cpp.o
FAILED: llvm-project/llvm/projects/compiler-rt/lib/sanitizer_common/CMakeFiles/RTSanitizerCommo

[2020-03-05 03:17] acxz commented on #25
hmm, I see. We are currently trying to push out hcc version 3.1.0. Maybe that will resolve the issue.

[2020-03-05 09:39] BrunoLiegiBastonLiegi commented on #25
Perfect thank you.
Furthermore I have not experience in writing PKGBUILDs, but if there is anything I can do to help you, just let me know!

[2020-03-05 15:29] acxz commented on #25
Submitting bug reports is very useful for us. Another thing you can do is submit issues upstream. It is not always the case that we will be able to fix the issue with packaging, but rather there is a deeper problem that AMD themselves need to fix. For example, I would submit this bug report to the AMD repository that contains hcc. They might know of a fix right off the bat and can include it in th

[2020-03-06 15:12] neeshy commented on #25
According to https://bugs.gentoo.org/709672 this is a bug related to building llvm against glibc 2.30. I'll add the relevant patches shortly.

[2020-03-06 18:55] ranisalt commented on #11
I would separate the packages into repositories instead of one huge monorepo. Not only it makes it much easier to bisect and fix bugs, large repos are slow to clone and commit.

[2020-03-06 19:32] ranisalt commented on #11
Also, I propose a workflow:

We should have a `master` branch that is in sync with AUR. We also have a `dev` branch that contains the latest improvements, but not necessarily updated .SRCINFO and pkgsums. Whenever a new version is released, the differences since the last `master` commit should be **squashed**, together with a version bump and updated .SRCINFO and pkgsums, merged into master and th

[2020-03-06 22:24] neeshy commented on #5
Upon further investigation, it seems that roc-llvm has two release types: roc-hcc and roc-ocl. roc-hcc is specifically targeted towards being a submodule of hcc, while roc-ocl is general and already packaged in llvm-roc. I think we should stick to pulling in those submodules as opposed to trying to build against system libraries.

[2020-03-06 22:24] #5 closed

[2020-03-06 23:13] neeshy commented on #25
After patching and compiling, there are still linking errors we'll have to figure out:

[code]

[2020-03-07 00:35] acxz commented on #11
Agreed, but the amount of packages we are dealing with are rather small.

[2020-03-07 00:38] acxz commented on #11
Are you familiar with [`aurpublish`](https://github.com/eli-schwartz/aurpublish/)? We are currently using git subtrees for our pipeline.

[2020-03-07 00:45] acxz commented on #4
hcc is still 3.0.0 on the AUR. reopening till a sync happens.

[2020-03-07 00:47] acxz commented on #2
hip is still at 2.5.0 on the AUR, reopening till a sync happens to the AUR.

[2020-03-07 00:48] acxz commented on #11
@ranisalt it would be much appreciated if add me, neeshy, or naetherm as the package co maintainers to your rocm related packages.

[2020-03-07 19:14] frazerk opened #26 "[hcc] Add python to makedepends"
The `llvm` dependency (at least) requires `python` to build. This should be added to `makedepends` to support tools that build in a clean chroot (e.g. `aur sync --chroot`).

I think this is the only missing build dependency, though I can't be completely certain due to the `hcc` build failing for the reason reported in #25. At the very least, the configure step passes when this is added.

[2020-03-08 01:43] neeshy commented on #26
The python make dep was added in https://github.com/rocm-arch/rocm-arch/commit/c54b26b7f60f25241051d539ed803ce812feda6a but we haven't pushed to the AUR yet.
We wanted to iron out some issues before pushing, but that's taking longer than originally anticipated. I'll push to the AUR shortly.

[2020-03-08 02:00] #2 closed

[2020-03-08 02:00] #4 closed

[2020-03-08 02:00] #7 closed

[2020-03-08 02:00] #8 closed

[2020-03-08 02:00] #9 closed

[2020-03-08 02:00] #6 closed

[2020-03-08 02:18] neeshy opened #27 "Add everybody to each package's list of co-maintainers"
This includes: naetherm, neeshy, rsa

So far we have:

- [x] aomp
- [x] atmi
- [x] clang-ocl
- [ ] comgr
- [x] hcc
- [x] hcc-git
- [x] hip
- [x] hipblas
- [x] hip-clang
- [x] hipcub
- [x] hip-git
- [x] hip-hcc
- [x] hip-nvcc
- [x] hipsparse
- [ ] hsa-amd-aqlprofile
- [ ] hsa-ext-rocr
- [x] hsa-rocr
- [ ] hsa-rocr-git
- [ ] hsakmt-roct
- [ ] hsakmt-roct-git
- [ ] llvm-amdgpu
- [x] llvm-roc
- [x] mi

[2020-03-08 02:31] acxz commented on #27
@neeshy you can keep me off the list. I believe the less number of people as co-maintainers the better. There is no reason for 5 people to be in charge of syncing AUR packages now that we have this github repo, where we can contribute and create PRs freely, unlike the AUR.

[2020-03-08 02:34] acxz commented on #26
has been resolved and synced to the AUR.

[2020-03-08 02:34] #26 closed

[2020-03-08 06:51] rigred opened #28 "rocm-cmake PKGBUILD cannot work in it's current state"
The current PKGBUILD of rocm-cmake tries to write to a root directory during the package phase.
This is forbidden by the PKGBUILD as it is not writing to the fakeroot $pkgdir directory.
[code]

Instead I suggest changing the PKGBUILD to this older (but correct) code

[code]

Specifically note the line
[code]
Which sets the $pkgdir value as makepkg will otherwise attempt to write to the root `/opt/

[2020-03-08 09:02] naetherm commented on #27
Updated the list according to the maintainer list and @acxz comment.

Regarding the ```hipsycl-*-git```:
Should those really belong of this repository though ```hipsycl-*-git``` is not part of the ROCm infrastructure?

[2020-03-08 14:13] acxz commented on #27
That’s a good question actually, I think we should remove the hipsycl packages from this repo. I would like to take maintainership of them.

[2020-03-08 14:52] acxz commented on #28
Thanks for the report @rigred, I can also reproduce the error.
However, the older PKGBUILD may have been working, but it not correct either. The `pkgdir` variable should not be used in the `build()` function. See: https://www.archlinux.org/pacman/PKGBUILD.5.html

[2020-03-08 14:59] acxz commented on #1
This is outside the scope of this org. Closing.

[2020-03-08 14:59] #1 closed

[2020-03-08 19:05] neeshy commented on #28
Seems like a simple make DESTDIR=$pkgdir install works equivalently.

[2020-03-08 20:24] acxz commented on #28
totally overlooked that, closing this issue then due to https://github.com/rocm-arch/rocm-arch/commit/f002f8967b524a9c2c3e0124de4df2eae87ed8e3.

@rigred let us know if you still have any issues.

[2020-03-08 20:24] #28 closed

[2020-03-08 20:42] #10 closed

[2020-03-08 20:42] #12 closed

[2020-03-08 20:42] #13 closed

[2020-03-08 20:42] #14 closed

[2020-03-08 20:42] #15 closed

[2020-03-08 20:42] #16 closed

[2020-03-08 20:42] #17 closed

[2020-03-08 20:42] #20 closed

[2020-03-08 20:42] #21 closed

[2020-03-08 20:42] #22 closed

[2020-03-08 20:42] #23 closed

[2020-03-08 20:42] #24 closed

[2020-03-08 20:53] neeshy opened #29 "[rock-dkms/rock-dkms-git] Get ROCk to build from upstream's source"
Instead of taking from the Debian sources.
See: https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/blob/master/drivers/gpu/drm/amd/dkms/Makefile

This way rock-dkms-git can actually pull from git sources, instead of being a duplicate of rock-dkms.

[2020-03-08 21:28] #18 closed

[2020-03-08 21:28] #19 closed

[2020-03-08 22:48] acxz opened #30 "[hsa-ext-rocr] out of date"

[2020-03-08 22:48] acxz opened #31 "[hsa-runtime-git] out of date"

[2020-03-08 22:49] acxz opened #32 "[hsakmt-roct] out of date"

[2020-03-08 22:49] acxz opened #33 "[libhsakmt-git] out of date"

[2020-03-09 01:59] neeshy commented on #25
This page suggests that hsakmt should be at leasat a makedepend of hcc. It's strange how the build system for hcc doesn't pick this up during the configure step.
https://github.com/RadeonOpenCompute/hcc/wiki

[2020-03-09 02:31] neeshy commented on #25
Apparently libhsakmt should be provided by roct-thunk-interface:
https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface
There's a pkgconfig file in the root of that repo, and if you look under src/ every symbol that the hcc build is erroring out on is implemented.

[2020-03-09 02:45] ranisalt commented on #11
No, I will read about it.

Sorry for the delay! Done that.

[2020-03-09 12:53] rigred commented on #11
Ok

My rocm-smi package is located here
https://github.com/rigred/ROC-smi_arch

How do you want it included? Shall I make a pull request?

[2020-03-09 14:55] BrunoLiegiBastonLiegi commented on #25
Hi guys, today I was trying with hcc 3.1.0 and thus first I updated roct-thunk-interface, no problem here, and then tried with rocr-runtime. This results again in a build failure, I attach the building log. Should I open a new issue?

[log.txt](https://github.com/rocm-arch/rocm-arch/files/4307305/log.txt)

[2020-03-09 20:52] acxz commented on #25
yes

[2020-03-09 22:41] acxz commented on #11
sweet, I took care of it with an `aurpublish -p rocm-smi` and pushed to master: 4b767fa

[2020-03-10 03:26] acxz opened #34 "Package Request Thread"
Here are some packages that are provided by upstream ROCm but not in the AUR: [Link](https://github.com/RadeonOpenCompute/ROCm/blob/master/README.md#rocm-platform-packages)
For reference, [here](http://repo.radeon.com/rocm/apt/debian/pool/main/) is the Ubuntu package repository for ROCm.

- [x] [`mivisionx`](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX)
- [x] [`migraphx`](htt

[2020-03-10 03:36] Laser-Cat opened #35 "[hcc] HCC build failure"
I have the following error during building
ln: failed to create symbolic link '/home/lasercat/Downloads/rocm-arch-master/hcc/pkg/hcc/usr/bin/bin': File exists
Possibly caused by:
https://github.com/rocm-arch/rocm-arch/blob/4b767fa63e0bcb9b5ff76afb374256aae4db1e8e/hcc/PKGBUILD#L53
I changed to
[code]
and it can then generate a package(not sure whether the built package works properly tho).

[2020-03-10 04:27] Laser-Cat opened #36 "[hipcub] hipcub depends on rocm-comgr to build"
Should add it to makedep
Also need to insert this line to line 33
`        -Damd_comgr_DIR=/opt/rocm/lib/cmake/amd_comgr \
`
Or else it gives the following error:
[code]

[2020-03-10 04:44] Laser-Cat commented on #36
Also applys to rocprim

[2020-03-10 04:49] Laser-Cat opened #37 "[rocprim] This should be a typo."
https://github.com/rocm-arch/rocm-arch/blob/4b767fa63e0bcb9b5ff76afb374256aae4db1e8e/rocprim/PKGBUILD#L37
Should be
`  make install DESTDIR="$pkgdir"
`

[2020-03-10 05:18] Laser-Cat opened #38 "[rocthrust] Typos"
line 44 should be:
`  install -d "$pkgdir/etc/ld.so.conf.d"
`
Also missing makedep rocm-comgr:
Add the folling line as line 34:
`        -Damd_comgr_DIR=/opt/rocm/lib/cmake/amd_comgr \
`

[2020-03-10 13:05] acxz commented on #35
@Laser-Cat thanks for the bug reports! Note, one of the big reasons as to why we moved our development to github was that people can submit PRs. Feel free to create PRs if you think you have found a fix to your issues! It will make testing easier and getting the fix out much faster.

[2020-03-10 22:24] farnoy commented on #11
Thanks for pushing this forward, you've made a lot of progress so far!

 I have two questions about aurpublish:
* Does it filter the history of the monorepo in some way, or will all commits here get pushed to AUR (just some of them empty if they do not modify that subtree/package)?
* Can we set it up so that only the CI would run `aurpublish` and push to AUR? If this CI step only happened on maste

[2020-03-10 23:06] acxz commented on #11
Thanks!

So `aurpublish` is actually just a wrapper for `git subtrees`.

Any commit you make that changes anything under `<package_name>/` gets registered as `<package_name>: <commit_message_for_monorepo>` for that specific package. If the commit to the monorepo does not change that folder, nothing will get pushed. All commits here should be treated as commits that will be made on top of the AUR r

[2020-03-10 23:35] acxz commented on #36
Please make a separate issue for rocprim.

[2020-03-11 01:35] #37 closed

[2020-03-11 01:35] #38 closed

[2020-03-11 01:38] #35 closed

[2020-03-11 05:34] ranisalt opened #39 "[rocm-opencl-runtime] devendor"
Currently, rocm-opencl-runtime clones it's own copy of rocm-cmake. It should be modified to use rocm-cmake as a makedepend instead.

[2020-03-11 07:34] farnoy commented on #11
Got it. Would it be enough to agree, as maintainers, never to run `aurpublish` on a revision that is not pushed to the master branch of this monorepo? I think that if we followed this rule, we'd never see errors from conflicting pushes, which I imagine could get a bit hairy with so many subtrees.

[2020-03-11 10:41] BrunoLiegiBastonLiegi opened #40 "[rocr-runtime] build failure"
Hi guys, I'm facing build failure, here's the log
[rocr-runtime.log](https://github.com/rocm-arch/rocm-arch/files/4317597/rocr-runtime.log)

However I think that the problem is the same described in this issue https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/47, indeed I tried building as they suggested

cp -LR /opt/rocm/include/* ${TEMP_INCLUDE_DIR}
rm -f ${TEMP_INCLUDE_DIR}/hsa.h
rm -f $

[2020-03-11 16:24] BrunoLiegiBastonLiegi commented on #25
Good news, I managed to build rocr-runtime 3.1 as depicted in #40 and after that hcc 3.1 building goes well.

[2020-03-12 16:14] acxz commented on #40
hmmm, I am not able to reproduce this issue. running `makepkg` with the existing PKGBUILD and using `yay` work for me with no hiccup. Just to make sure did you run with a clean build? Maybe try running it in a chroot as well.

[2020-03-12 21:05] acxz commented on #40
I have installed both `rocr-runtime` and `rocm-device-libs` but I still cannot reproduce this error.

[2020-03-13 03:09] acxz commented on #25
After @neeshy's added the patch, hcc is building just fine for me. I'm closing this issue since it seems like you also got the build working.

[2020-03-13 03:09] #25 closed

[2020-03-13 09:16] BrunoLiegiBastonLiegi commented on #40
Actually you are right I tried to build it in a chroot enviroment and building went just fine. However in my system the problem is still there, I don't know...

[2020-03-13 13:00] acxz commented on #40
Maybe just nuke your `/opt/rocm/` folder and try again? I'll close this issue since it works for me and and in a chroot. Feel free to comment on here if you are still having trouble, though.

[2020-03-13 13:00] #40 closed

[2020-03-14 04:22] recolic opened #41 "hip-hcc dependency issue"
Hi, I noticed that `hip-hcc` should depend on `rocm-comgr`.

Building hip-hcc without rocm-comgr results an failure:

[code]

[2020-03-14 13:51] acxz commented on #41
Relevant PR has been merged and the package has been synced to the AUR. Thx for the activism @recolic !

[2020-03-14 13:51] #41 closed

[2020-03-14 14:35] marco44 opened #43 "[llvm-roc] Uses too much RAM"
# building LLVM/Clang requires ~1.5G per unit
    THREADS=$(( ($(getconf _PHYS_PAGES) * $(getconf PAGESIZE)) / 1610612736 ))

Is quite wrong. My PC almost just died (was freezing like crazy because of swap storm). Ok, I've got 24 threads (AMD 3900x), so maybe some people get protected from this. Anyway, it was particularly nasty with the last link at 100%. Some ld tasks at the end take over 4GB of

[2020-03-14 14:46] acxz commented on #43
@marco44 what package does this correspond to?

[2020-03-14 14:46] acxz commented on #43
mb misclicked

[2020-03-14 15:57] tpkessler opened #44 "Thank you!"
I would like to thank you for your fantastic work! It's the first time (ROCm 3.1) I'm able to compile nearly all packages. Keep up your great work.

[2020-03-14 16:00] tpkessler opened #45 "[rocprim] does not build"
The line for cmake lacks a backslash:

[code]

[2020-03-14 16:04] tpkessler opened #46 "[roctracer] CMake variables `NOTFOUND`"
The PKGBUILD script for roctracer lists 'rocm' as a dependency. However, there's no such package. If I replace it with `rocm-cmake`, the configuration with cmake fails:

[code]

[2020-03-14 16:05] acxz commented on #44
Thanks so much! Really hope we as a community can get this boi up and running. Let's take down NVIDIA lol.

Unfortunately, I will have to close this issue since it not really an issue. But thank you, really means a lot when people recognize other's hard work. Esp when its out of their own good will.

[2020-03-14 16:05] #44 closed

[2020-03-14 16:05] tpkessler opened #47 "[rocprofiler] CMake variables `NOTFOUND`"
This issue is similar to #46
Again, `rocm` is listed as dependency. When removed, the configuration step fails:

[code]

[2020-03-14 16:08] acxz commented on #46
`rocm` should be provided by `rocm-dkms`. Can you confirm this before I close the issue?

[2020-03-14 16:09] acxz commented on #47
`rocm` is provided by `rocm-dkms`.

[2020-03-14 16:24] marco44 commented on #43
llvm-roc, sorry

[2020-03-14 16:28] tpkessler opened #48 "[rock-dkms] upstream package updated"
AMD updated the version of their deb package:

[code]

[2020-03-14 16:34] tpkessler opened #49 "[rocm-dev] Cyclic dependency"
`rocprofiler` needs the meta package `rocm` which itself depends on `rocm-dev`, which among other, lists `rocprofiler` as a dependency. Is the `rocm-dev` package really needed?

[2020-03-14 16:38] tpkessler commented on #34
`aomp` is tricky. As of now, they rely on custom versions of the ROCm stack. You basically have to recompile every package specifically for the use of aomp. In addition, their tool chain is based on bash scripts. Maybe this will change with the release of version 11.0

[2020-03-14 16:42] acxz commented on #48
Feel free to create a PR!

[2020-03-14 16:44] tpkessler commented on #46
You're right. `rocm` is provided by `rocm-dkms`. I built it, after a minor edit of the PKGBUILD script, see #49
However, the error message is the same.

[2020-03-14 16:45] tpkessler commented on #47
The problem persists, see #46

[2020-03-14 16:50] acxz commented on #49
Ah that totally went over my head. I think the easy way to handle this is to move rocprofiler out of rocm-dev's dep list. The better way is to bigger out exact packages rocprofiler needs. We would like to stick to upstream as close as possible and rocm-dev depends on rocprofiler as shown here: https://github.com/RadeonOpenCompute/ROCm#rocm-binary-package-structure
But rocprofiler depends on `rocm`

[2020-03-14 16:51] acxz commented on #46
Let me try to reproduce this issue.

[2020-03-14 17:00] rigred commented on #27
As of right now rocm-utils depends on rocm-clang-ocl which is outdated of repo as @whoisroot hasn't yet submitted code or not been merged in here. Lots of packages depend on that.

Should we just go ahead and manually merge it?

[2020-03-14 17:14] acxz commented on #48
thx for the commit @rigred
keeping issue open until synced with AUR

[2020-03-14 17:24] tpkessler commented on #49
Thanks for your explanation. I see what causes the problems. I opened an issue:
https://github.com/ROCm-Developer-Tools/rocprofiler/issues/18

[2020-03-14 17:25] acxz commented on #11
I think we should have only one maintainer anyway, so that we can control the sync to AUR easily, but yes aurpublish should only be used from the master branch.

[2020-03-14 17:26] acxz commented on #11
I was also thinking it might be a p good idea to have a chatroom on this project.

[2020-03-14 17:33] tpkessler commented on #49
I created a PR to remove rocprofiler from the dependencies.

[2020-03-14 17:41] rigred opened #51 "[rocm-utils] depends on rocm-clang-ocl instead of clang-ocl"
Am I correct in thinking this is not correct?
It should be changed to clang-ocl as I understand.

https://github.com/rocm-arch/rocm-arch/blob/master/rocm-utils/PKGBUILD

[2020-03-14 17:44] acxz commented on #51
According to [upstream](https://github.com/RadeonOpenCompute/ROCm#rocm-binary-package-structure) package structure, `rocm-utils` is a meta package / group that contains `rocminfo` and
`rocm-clang-ocl`. We should keep it `rocm-clang-ocl`.

[2020-03-14 17:45] rigred opened #52 "Change install to versioned directory path"
https://rocm-documentation.readthedocs.io/en/latest/Current_Release_Notes/Current-Release-Notes.html#before-you-begin

Please see above first ^^

Currently this project is still using the `/opt/rocm` directory structure while upstream has changed to using a versioned path of `/opt/rocm-3.1.0` as an example.

I've noticed that several of the upstream code snippets use hard coded `/opt/rocm-$version

[2020-03-14 17:48] rigred commented on #51
Hmm
Currently rocm-clang-ocl is a broken outdated mess on the AUR.

I've updated a private PKGBUILD to build it but directories mismatch as clang-ocl bin expects /opt/rocm-3.1.0 paths in various hardcoded locations.

It also seems that clang-ocl binaries and rocm-clang-ocl binares are meant to be the same thing
So I would remove the rocm-clang-ocl and change it to clang-ocl

[2020-03-14 17:50] acxz commented on #51
I have submitted an orphan request for `rocm-clang-ocl` so we should be able to adopt it soon. I would like to follow upstream as much as possible since if users have issues or concerns they can refer to upstream documentation instead trying to figure out what "Arch" did differently. Let's be patience, I can try to expedite the orphan process by talking to some TUs as well.

[2020-03-14 17:52] acxz commented on #52
Ahh you're right, seems like we need to make some changes in our pkgbuilds then. Let's use this issue to keep a checklist of which packages need to be changed.

[2020-03-14 17:54] rigred opened #53 "[rocm-opencl-runtime] should depend on rocm-clang-ocl ?"
Currently with rocm-opencl-runtime installed it's impossible to run any trivial opencl applications.
Causing them to error out with `-6 CL_OUT_OF_HOST_MEMORY`

I suspect this is due to the opencl clang compiler being missing.

[2020-03-14 17:58] rigred commented on #53
Can anyone confirm if they're able to compile and execute a trivial opencl program?

For me OpenCL code fails on create cl_command_queue context with a device

[2020-03-14 18:01] rigred commented on #53
You can use this simple gpu benchmark code as a test
https://github.com/huytd/opencl-benchmark
Just `make` and run `gpu` it should produce a non zero result matching the `cpu` bin

[2020-03-14 18:06] acxz commented on #53
I was just about to ask for some minimal code to test. I'm not near my AMD machine rn tho, would it be worth for me to test? (It has does have a NVIDIA GPU though, so opencl should still work)

[2020-03-14 18:17] acxz opened #54 "Handling Dual Release Streams"
So I am sure some of you may have noticed that in some of the AMD repos for releasing rocm related packages, there are two release streams. One is usually tagged as roc-x.y.z while the other is just a.b.c.
Because of this it may be confusing what the version number should be for what we package. To combat this I think we should have two packages for each release stream. I believe for releases that

[2020-03-14 18:39] acxz commented on #27
We will pull it in once once of the maintainers of this repo has AUR push access to it.

[2020-03-14 18:39] rigred commented on #53
This only applies for the rocm-opencl-runtime / rocm-clang-ocl stack.
So no worth testing on nvidia, give it a try when you can get to your amd machine.

[2020-03-14 19:41] acxz commented on #34
Yeah, I wasn't able to get aomp building. I pushed what I had tho.

[2020-03-14 19:41] #34 closed

[2020-03-14 19:43] cdarken commented on #48
Dkms cannot build this it fails with these messages:
[code]

[2020-03-14 19:48] acxz commented on #48
Yep, I just tried and I got the same error message, can you make a separate issue for this? @cdarken

[2020-03-14 19:50] cdarken commented on #48
Yup, I will.

[2020-03-14 19:51] rigred commented on #48
This might be an upstream kernel incompatibility.
Though fwiw rock-dkms is not necessary for rocm compute capability as most kernels already include the open KFD driver.

[2020-03-14 19:54] rigred commented on #48
If you have `/dev/kfd` one should actually not install rock-dkms.
The ROCm ABI is compatible with the KFD in the base linux kernel.

[2020-03-14 19:54] cdarken opened #55 "[rock-dkms] dkms build fails"
When dkms is building the module it fails with errors like these:
[code]
Full log attached.
[rock-dkms-make.log](https://github.com/rocm-arch/rocm-arch/files/4333282/rock-dkms-make.log)

[2020-03-14 20:06] rigred commented on #55
Tis might be an incompatibility with the current 5.5.8 kernel. AMD usually only builds these for the current ubuntu kernel.

Though fwiw rock-dkms is not necessary for rocm compute capability as new kernels already include the open KFD driver and the ROCm ABI is compatible with the KFD in the base linux kernel.

If one has `/dev/kfd` one should actually not install rock-dkms.
Permissions  for it s

[2020-03-14 20:10] cdarken commented on #55
What is the minimal set of packages to install for rocm to work and clinfo to report the devices using rocm-opencl-runtime ? For me it fails with `ERROR: clBuildProgram(-11)`.
I thought this was needed for it to work.

[2020-03-14 20:20] #45 closed

[2020-03-14 20:20] cdarken commented on #53
@rigred I tried to build that benchmark and I can't compile it:
[code]

[2020-03-14 20:28] rigred commented on #55
From what I can tell we should only require rocm-opencl-runtime and rocm-clang-ocl (The opencl compiler). Though rocm-clang-ocl is currently in a broken state unfortunately.

[2020-03-14 20:29] rigred commented on #55
the clBuildProgram (-11) and out of memory (-6) errors and variations thereof are related to the opencl compiler being missing.
With just rocm-opencl-runtime it's possible to get clinfo output, but not run any useful code it seems.

[2020-03-14 20:34] rigred commented on #53
Thanks this is exactly as I expected. Where missing the runtime compiler component.

[2020-03-14 20:37] neeshy commented on #54
That would roughly double the amount of packages we have to maintain. I think that presents too much of a maintainability burden.
Instead, why don't we look at which versions AMD are using for their radeon debian repo: http://repo.radeon.com/rocm/apt/debian/pool/main/

[2020-03-14 20:37] cdarken commented on #55
I installed clang-ocl from the PKGBUILD in this repo.

[2020-03-14 20:45] acxz commented on #54
That's true and I'm not saying we should create them all, just that we keep the naming conventions appropriate.

[2020-03-14 23:09] acxz commented on #43
I'm gonna take the build error flag away since, building it self works just fine (also tested it on my machine).

[2020-03-14 23:25] acxz commented on #47
I can't reproduce it as of yet, I get the following issue: https://aur.archlinux.org/packages/rocm-clang-ocl/#comment-733764

[2020-03-14 23:29] acxz commented on #49
Also just dropping this here, can't build or reproduce (I know the cyclic dep is still an issue) due to the following issue: https://aur.archlinux.org/packages/rocm-clang-ocl/#comment-733764

[2020-03-14 23:30] acxz commented on #51
Going ahead and closing this issue, see #11 to track the inclusion of rocm-clang-ocl from @whoisroot

[2020-03-14 23:30] #51 closed

[2020-03-15 03:51] Laser-Cat opened #56 "[miopen] Link error"
After fixing the boost issue as instructed by
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/131
I get the same issue with
https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/991,

i.e,
[code]
Fix boost
[a.patch.txt](https://github.com/rocm-arch/rocm-arch/files/4333751/a.patch.txt)
corresponding PKGBUILD
[PKGBUILD.txt](https://github.com/rocm-arch/rocm-arch/files/4333752/PKGBUILD.txt)

[2020-03-15 04:05] Laser-Cat commented on #56
I also tried to build rocm with tensile on as pointed by
https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/991,
and I got some python exceptions too:
[tensile_falied.log](https://github.com/rocm-arch/rocm-arch/files/4333758/tensile_falied.log)

[2020-03-15 09:34] tpkessler commented on #53
I cannot reproduce the runtime error. I use the recent version of ROCm provided by the PKGBUILDs of this repo. The benchmark worked both with and without rocm-clang-ocl, for which i updated the PKGBUILD:

https://gist.github.com/tpkessler/b4d0df3111e3928d99ad54a45bc6ef29

[code]

[2020-03-15 10:13] rigred commented on #53
Oh boy.
So my system is having some linking issue.
All the files you have are present however aren't linked for the binary instead it's linking to `/usr/lib/libOpenCL.so.1` which belongs to the ocl-icd package.

What rocm & opencl packages do you have installed?

[code]

[2020-03-15 10:45] rigred opened #57 "hipsparse installs itself to PKGBUILD directory / aur manager cache"
Really bad issue

hipsparse doesn't install itself to the correct directory instead if using an aur manager it installs into the cache directory, here for example is output with yay

[code]

[2020-03-15 10:47] tpkessler commented on #53
Yes, the I had the same linking issue. I resolved it by giving the linker the full path for AMD OpenCL:

[code]

This is the list of opencl packages:

[code]
and the list of ROCm packages

[code]

[2020-03-15 10:51] rigred commented on #57
Fwiw also affects direct makepkg builds
Something is including the full home directory path into the pkgdir tree

[2020-03-15 10:56] #57 closed

[2020-03-15 10:58] rigred commented on #57
Solution was not to set make DESTDIR as $pkgdir.
Rather just build in source and copy the required files to $pkgdir

[2020-03-15 11:09] cdarken commented on #53
Isn't this correct though as long as you have the correct library configured in `/etc/OpenCL/vendors` ?

[2020-03-15 11:10] rigred commented on #53
@tpkessler Oh you manually linked it that explains why it's working.
This is something we need to fix it seems the library isn't properly referenced via the vendor code.

[2020-03-15 11:12] rigred commented on #53
Though compute still fails even with manual link
![image](https://user-images.githubusercontent.com/5716332/76700281-9225ed80-66be-11ea-9523-57c3bf90f980.png)

[2020-03-15 11:34] cdarken commented on #53
Same for me, it returns 0.

[2020-03-15 16:40] acxz commented on #49
Keeping this issue open until upstream resolves it.

[2020-03-15 16:42] acxz commented on #49
Requesting @neeshy to sync to AUR.

[2020-03-15 17:39] acxz commented on #36
Keeping this issue open until synced to AUR.

[2020-03-15 17:45] tpkessler commented on #53
@cdarken
The variable `val` is not initialized. So the result of the GPU computation is undefined. You need to add `val[i] = 0;` before the loop in `sum.cl`:

[code]
@rigred

Yes, but it's working both with linkage to libOpenCL (in /usr/lib) and the AMD version from /opt/rocm/lib

[code]
Linking `libamdocl64.so`:

[code]
Maybe it depends on the hardware?

Output of `clinfo` (Vega 56)

[code]

Outp

[2020-03-15 18:06] cdarken commented on #53
I discovered that my clinfo executable was an old one, no idea from when, I reinstalled the last version from the community repositories and it works now, it doesn't fail with that error anymore. But opencl programs like that benchmark are still broken. No errors, but the result is 0.

[2020-03-16 09:57] rigred commented on #53
clinfo output

As you can see it fails at CL Program build.
I have all the same packages as you installed, except for the rock-dkms module where dkms build fails on both the 5.5.8 and the lts kernel.

[code]
[rocminfo.log](https://github.com/rocm-arch/rocm-arch/files/4337441/rocminfo.log)
[clinfo_output.log](https://github.com/rocm-arch/rocm-arch/files/4337444/clinfo_output.log)

[2020-03-17 04:41] acxz commented on #48
has been synced

[2020-03-17 04:41] #48 closed

[2020-03-17 04:48] acxz commented on #49
just synced

[2020-03-17 06:57] naetherm commented on #55
AFAIK this _is_ an incompatibility with kernels > 4.13.XX.
It will get interesting with the release of Ubuntu 20.04 mid April, which should have kernel 5.4, where AMD is forced to upgrade.
Alternatively one could try the specific AMD kernel: https://aur.archlinux.org/packages/linux-amd-staging-drm-next-git/

[2020-03-17 07:07] marco44 commented on #43
Ok, I found what was the difference. I'm building with debug. Without it the memory consumption is much lower. Anyway, building with debug is perfectly valid, maybe there should be either a warning, or avoid setting THREADS in this case?

[2020-03-17 07:36] tpkessler commented on #53
I removed the rock-dkms package (It didn't compile with the new kernel 5.5.9). The program still compiles and runs as expected. Maybe this is a bug related to the GPU type?
@rigred  and @cdarken: you both have a GPU of type gfx803, I'm using a Vega 56 (gfx900). Can someone please confirm that the program works fine with their Vega GPU?

[2020-03-17 09:14] cdarken commented on #53
I think that regarding ROCm everything's fine. Only the OpenCL interface is broken. I built and ran successfully https://github.com/RadeonOpenCompute/rocm_bandwidth_test.

[2020-03-17 12:01] rigred commented on #53
Absolutely the rocm code works fine.
But opencl is broken.

[2020-03-17 15:01] acxz commented on #55
Since this is an upstream issue, let us have someone create an issue in the associated AMD repo and link it here.

[2020-03-17 15:04] cdarken commented on #52
Could this be the reason why OpenCL fails? Maybe it's looking for the OpenCL compiler in a versioned path?

[2020-03-17 15:46] tpkessler commented on #53
Sorry for the confusion. My first sentence

was meant as a reply to @rigred

which means that this issue does not depend on `rock-dkms`

[2020-03-17 21:02] rigred commented on #27
Just got ownership of rocm-clang-ocl and assigned the team as maintainers.
I would push the changes but it's very late for me and I don't want to push changes sleepy.

[2020-03-18 01:01] acxz opened #59 "[rocm-clang-ocl] out of date"

[2020-03-18 01:02] acxz commented on #27
Sweet thanks just took care of it!

[2020-03-18 01:29] acxz commented on #59
Resolved with d1f89e6

[2020-03-18 01:29] #59 closed

[2020-03-18 01:32] plasticbomb1986 opened #60 "AUR build fails"
Id wanna build an install this from AUR, but its fails on my syste, with this error:

   Building OpenCL runtime...

-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C co

[2020-03-18 08:57] acxz commented on #60
Can you let us know which package?

[2020-03-18 09:51] plasticbomb1986 commented on #60
Im planning to move over Arch, just havent yet done it.

Im tryin to build rocm-opencl-runtime, llvm-roc built, rocm-comgr built, but this one fails. What else can i provide you what might help to pin point the issue?

[2020-03-18 10:00] #60 closed

[2020-03-18 10:26] acxz commented on #60
hmm, interesting I just tried clean building it with yay and got it to compile cleanly. Nice to know it works on your system, tho!

[2020-03-18 12:47] plasticbomb1986 commented on #60
Probably some "fuckup" in my system, caused by my own tinkering. Two days ago had an another pack not working as it should had, than after some hammering it did went trough. Thats an another thing, why im considering the arch install. Im already know what i want on my system, as base, now its causing more problem where i started from with it. :D

Now what i have to figure out, why luxmark fails to

[2020-03-19 13:10] tpkessler commented on #47
I fixed the build script, see my pr #61
This also answers issue #49.

[2020-03-19 13:11] tpkessler commented on #49
rocprofiler seems to only depend on rocr-runtime, see pr #61

[2020-03-19 14:13] tpkessler commented on #46
The package works now, see pr #62

[2020-03-19 16:19] acxz commented on #49
Should an upstream PR be made to their readme to point to rocr-runtime instead of ROCm?

[2020-03-19 16:19] #49 closed

[2020-03-19 16:30] #47 closed

[2020-03-19 16:30] #46 closed

[2020-03-19 16:36] tpkessler commented on #49
That's a good idea. Let's see if they will response to my issue.

[2020-03-21 07:16] ranisalt commented on #53
I noticed issues like these started happening with v3.0.0, it probably just carried on to v3.1.0. Could you test with 3.0.0 to see if that also happens?

I didn't catch these problems since I'm not using OpenCL anymore, I just built and assumed it was still working.

[2020-03-21 12:34] exzombie opened #64 "[rocm-validation-suite] fails to build"
There are several issues which apply to both 3.2.0 and 3.1.0.

First, it tries to find includes for rocblas and hip in "wrong" places. As a workaround to see how far I get with the build, I did
[code]
This let the build continue. However, it then failed with
[code]
This is caused by `RVS_OS_TYPE_NUM` being defined to `0`, whereas the `#if`s surrounding the definition of `command_string` only check

[2020-03-21 13:26] exzombie commented on #64
`libgm.so` is incorrectly linked to `librocm_smi64.so.1` and cannot find the library. Other libraries seem to be linked correctly. Running
[code]
crashes in
[code]
Something about that library is not OK.

[2020-03-21 14:52] exzombie commented on #64
I found that the gst module wasn't built. It was silently skipped due to not finding blas. I've been hacking around and in the end, I produced the following set of workarounds in the PKGBUILD:
[code]
It still doesn't build because it can't find `hsa/hsa.h`. I don't see an existing elegant way to modify the include path. It seems that the build system is not flexible enough to accomodate the way ro

[2020-03-21 19:49] cdarken opened #65 "[hsa-ext-rocr] needs hsa-rocr dependency"
As the title says, when trying to build hsa-ext-rocr it complains that it's missing hsa-rocr dependency, but there's no such package.

[2020-03-22 04:11] petronny opened #66 "[llvm-roc] Missing dependency"
Getting
[code]
Maybe `python` is missing in `depends` or `makedepends`.

[2020-03-22 18:11] acxz commented on #66
Ah good catch, thx for the thoroughness as always, @petronny!

[2020-03-22 18:19] acxz commented on #66
Should be fixed with https://github.com/rocm-arch/rocm-arch/commit/33f4cccb006b6588869299804cd39a3629a3edd3

[2020-03-22 18:19] #66 closed

[2020-03-22 19:52] acxz commented on #11
Created an upstream PR to add instructions on installing ROCm on Arch: https://github.com/RadeonOpenCompute/ROCm/pull/1055

[2020-03-23 02:41] zman0900 opened #67 "[rocm-bandwidth-test] installs broken symlink"
[code]

Notice the difference in dashes vs underscores. Program works fine if real path in /opt is used to run it, but link in /usr/bin is broken.

[2020-03-23 03:14] acxz commented on #67
nice catch, sadly I don't have much time these days, but feel free to open up a PR!

[2020-03-23 03:55] ranisalt commented on #11
I managed to build llvm-roc with Github Actions, cache included and all so rebuilds take only a couple of minutes instead of the regular two hours for a build from scratch:

https://github.com/ranisalt/llvm-roc-actions

I don't know how to use it here, but there's a workflow to build an Arch Linux package, I hope it can be useful here.

[2020-03-23 04:26] acxz commented on #11
Whoa thats great! Yeah let's try to add this workflow to this repo.

[2020-03-25 00:07] acxz commented on #36
I think this has been synced.

[2020-03-25 00:07] #36 closed

[2020-03-25 20:33] ranisalt commented on #53
So, the `rocm-clang-ocl` package is redundant with `llvm-roc`, I think it should be deleted.

Also it downloads Debian release so at the very least it should be renamed to `rocm-clang-ocl-bin`.

[2020-03-26 03:04] acxz commented on #53
I do not see `llvm-roc` downloading a debian package, can you show me the specific line?
`llvm-roc` and `rocm-clang-ocl` point to two different upstream urls. I do not think they are redundant.

[2020-03-26 04:39] ranisalt commented on #53
@acxz I meant `rocm-clang-ocl` downloads the debian package. `llvm-roc` already includes `clang` for AMDGPU, which I believe is exactly what `rocm-clang-ocl` ships.

[2020-03-26 05:17] acxz commented on #53
I also do not see where rocm-clang-ocl downloads a debian package. Can you show me the line?
Even if functionally the package is redundant, since the upstream is different the package itself is not redundant. The package might be conflicting if the installed files are the same and in that case we can populate the conflicts field in each of the PKGBUILDS. But the packages are not redundant.

[2020-03-26 07:23] petronny opened #68 "Some compilation errors in clean chroot"
I'll post them one by one here.

- [x] [hip-hcc](https://github.com/rocm-arch/rocm-arch/issues/68#issuecomment-604272120) [updated on 2020-04-30]
- [x] [rocm-clang-ocl](https://github.com/rocm-arch/rocm-arch/issues/68#issuecomment-604274108)
- [x] [rocr-debug-agent](https://github.com/rocm-arch/rocm-arch/issues/68#issuecomment-604274480)
- [x] [rocm-opencl-runtime](https://github.com/rocm-arch/roc

[2020-03-26 07:25] petronny commented on #68
About hip-hcc

I get errors like
[code]
This is the first time that `error:` appears.

[2020-03-26 07:30] petronny commented on #68
About rocm-clang-ocl
[code]

[2020-03-26 07:31] petronny commented on #68
About rocr-debug-agent
[code]

[2020-03-26 07:34] petronny commented on #68
About rocm-opencl-runtime
[code]

[2020-03-26 08:43] ranisalt commented on #53
@acxz you are right and I looked into `rock-dkms` instead of `rocm-clang-ocl`, sorry.

[2020-03-26 16:09] acxz commented on #68
Thx for the build logs! We will try to address as quickly as we can. These packages do install on my system (I haven't tried with a clean chroot), so it should be simple to iron these issues out.

[2020-03-27 03:13] ranisalt commented on #32
Looking at the PKGBUILD it seems this package is a duplicate of `roct-thunk-interface`. They download the same source and install the same thing, but hsakmt-roct also adds some links to /usr (which are unneeded)

[2020-03-27 03:19] acxz commented on #32
Yep, you're right. So then which one should we keep? `roct-thunk-interface` or `hsakmt-roct`?
I think we should stick as close to upstream as possible so that users have an easy time using ROCm's upstream documentation. ROCm uses `hsakmt-roct` as their package name for this repo and I suggest we do the same: https://github.com/RadeonOpenCompute/ROCm#rocm-binary-package-structure.

[2020-03-27 03:25] ranisalt commented on #32
`hsakmt-roct` is *very* outdated at this point, it should be probably better to move the PKGBUILD there, and rename the package. Problem though is how to tell AUR to redirect users to the new package.

[2020-03-27 03:42] acxz commented on #32
we can use the `replace` field.

[2020-03-27 03:43] ranisalt commented on #32
Does it work with AUR packages? TIL

[2020-03-27 03:44] acxz commented on #32
https://wiki.archlinux.org/index.php/PKGBUILD#replaces

[2020-03-27 03:46] acxz commented on #32
Also this is offtopic, but @ranisalt , you have some experience with building in chroots right? Do you think you can tackle the chroot issue? Those failures are the exact failures that are holding up getting the binary packages out on arch4edu.

[2020-03-27 03:46] acxz commented on #32
I can take care of this issue pretty easily.

[2020-03-27 05:41] ranisalt commented on #68
For hip: you are missing python, install it.
For rocm-clang-ocl: install rocm-cmake and add `-DROCM_DIR=/opt/rocm/share/rocm/cmake` to the cmake call.
For rocm-opencl-runtime: install roct-thunk-interface.

[2020-03-27 05:41] acxz commented on #32
Keeping open until synced to AUR.
@neeshy

[2020-03-27 05:44] acxz opened #71 "[rocminfo] need to sync with changes to hsakmt-roct dep"
With #69 merged we need to update this package on the AUR.
@farnoy @naetherm @neeshy if you guys can take care of it that would be great.

[2020-03-27 05:51] petronny commented on #68
Please add them to the corresponding PKGBUILD(s).

[2020-03-27 05:53] ranisalt commented on #68
Yes, I am working on updating these (at least `rocm-opencl-runtime`) :D thanks for the feedback.

[2020-03-27 06:31] #71 closed

[2020-03-27 06:34] #32 closed

[2020-03-27 23:16] kozross opened #75 "Conflict between hsakmt-roct and roct-thunk-interface"
When performing an update of my ROCm setup, I hit this conflict:

[code]

How should I resolve this?

[2020-03-28 01:41] acxz commented on #75
hmm, weird roct-thunk-interface should be replaced by hsakmt-roct. Basically we are trying to follow upstream packaging structure so that users do not get confused with Arch Linux specifics. Can you uninstall roct-thunk-interface first and then see what happens?

[2020-03-28 01:58] kozross commented on #75
That worked, except that (due to dependencies), it meant uninstalling ``rocm-opencl-runtime``. This package, in turn requires both ``hsakmt-roct`` and ``rocr-runtime``, but doesn't depend on them. After I installed those, it built successfully and ``clinfo`` seems to return valid information.

[2020-03-28 02:01] kozross opened #76 "[rocminfo] puts the executable in /opt, which means it's not on PATH"
After you install ``rocminfo``, the executable itself is not in ``/usr/bin`` or anywhere else like that, instead being placed in ``/opt/rocm/bin``. This is not typically on the PATH, which means you need a full path to call it. This is both confusing and undesirable.

[2020-03-28 06:36] acxz commented on #76
Agreed, we are trying to add symlinks from the /opt location to /usr/bin.

[2020-03-28 10:59] petronny commented on #68
`rocm-opencl-runtime` is fixed but `hip-hcc` still fails with python installed.

[2020-03-28 14:27] cdarken commented on #53
@rigred did you have success in fixing your OpenCL through ROCm? I updated the packages and still couldn't make it work

[2020-03-29 04:52] kozross commented on #68
Worth noting that ``rocm-opencl-runtime`` had a [change in dependencies recently][1].

[1]: https://github.com/rocm-arch/rocm-arch/issues/75#issuecomment-605378385

[2020-03-29 15:02] acxz commented on #75
@kozross thx for finding out about the missing deps for `rocm-opencl-runtime`! Do you mind making a PR to add those two dependencies in the `depends` field of the PKGBUILD?

I'll close this issue since the original problem has been resolved.

[2020-03-29 15:02] #75 closed

[2020-03-29 19:20] acxz commented on #68
@petronny `rocm-clang-ocl` should be fixed with `3.1.0-2`

[2020-03-31 03:03] acxz commented on #54
Closing this issue as resolved with neeshy's comment.

[2020-03-31 03:03] #54 closed

[2020-03-31 03:13] acxz commented on #31
Looking into this package a bit more, it seems like it is not part of the ROCm stack. I think we should remove it. I'll keep this issue open for some time for discussion.

[2020-03-31 03:16] acxz commented on #33
This package is also not part of the rocm stack. We should remove it, keeping this issue open for a little longer for some discussion.

[2020-03-31 03:25] acxz commented on #30
It seems like it also needs `hsakmt-roct` as a dep.

[2020-03-31 03:40] acxz commented on #65
noted: #77 should resolve the issue once it lands

[2020-03-31 05:10] petronny commented on #68
Yeah, `rocm-clang-ocl` is fixed now.

[2020-03-31 18:14] acxz opened #78 "[hcc] need to sync"

[2020-03-31 18:23] acxz opened #79 "[rocm-profiler] need to sync"

[2020-03-31 18:25] acxz opened #80 "[rocminfo] need to sync"

[2020-03-31 19:00] kozross opened #81 "unable to satisfy dependency 'hsa-rocr>=3.1.0' required by rocm-opencl-runtime"
I got this today when trying to update both ``rocm-opencl-runtime`` and ``rocm-device-libs``.

[2020-03-31 19:04] acxz commented on #81
Similar to roct-thunk-interface we have also deprecated rocr-runtime in favor of the upstream name: hsa-rocr to make it easier for users to use ROCm's official documentation.

Try installing hsa-rocr.

[2020-03-31 19:07] acxz commented on #31
Closed with
790dd49

[2020-03-31 19:07] #31 closed

[2020-03-31 19:08] acxz commented on #33
Closed with
65f4b6e

[2020-03-31 19:08] #33 closed

[2020-03-31 19:11] #65 closed

[2020-03-31 19:27] acxz commented on #30
Commit 5021ab7 should resolve this.
Will close upon sync.

[2020-03-31 22:00] cdarken commented on #53
Can somebody explain how the OpenCL compiling works? The library just calls the compiler with the OpenCL program? Like a system shell call?
I discovered some confusing things about the 2 compilers I have installed concurently:
1. /opt/rocm/bin/clang-cl which belongs to the llvm-roc package:
[code]
Why is the target x86_64-pc-windows-msvc ?
2. /opt/rocm/bin/clang-ocl which belongs to the rocm-clang

[2020-03-31 22:11] kozross commented on #81
That solved it, thanks!

[2020-03-31 22:11] #81 closed

[2020-04-02 05:04] naetherm commented on #80
Postponed due to update of rocm infrastructure to 3.3.0 ?

[2020-04-02 05:14] #76 closed

[2020-04-02 06:25] ranisalt commented on #76
I think there's no point in installing to /opt if we then symlink to /usr. We just use /opt because AMD does so, but it is blatantly wrong.

[2020-04-02 07:41] helfio opened #84 "[miopen] dependency conflict"
Hi,

I'm trying to set everything up in order to use my RX 590 with tensorflow-rocm and it looks like MIOpen is a necessary package. The currently available PKGBUILD has as dependency clang-ocl while there is another package in the AUR called rocm-clang-ocl which apparently is same package, different name. I renamed clang-ocl -> rocm-clang-ocl and apparently that is fine and the new error I think

[2020-04-02 09:15] naetherm commented on #76
It is installed in /opt because that's the specification of FHS: https://refspecs.linuxfoundation.org/FHS_3.0/fhs-3.0.pdf#page=20

[2020-04-02 09:55] holishing commented on #30
upstream updated version again
http://repo.radeon.com/rocm/apt/debian/pool/main/h/hsa-ext-rocr-dev/
http://repo.radeon.com/rocm/apt/debian/pool/main/h/hsa-ext-rocr-dev/hsa-ext-rocr-dev_1.1.30300.0-rocm-rel-3.3-19-23fc088b_amd64.deb

[2020-04-02 14:34] acxz commented on #30
@holishing thx for letting us know! Feel free to make a PR!

[2020-04-02 14:48] acxz commented on #80
I don't see why. we can just sync the latest version we have here on the git to the AUR. The

[2020-04-02 16:26] ranisalt commented on #76
@naetherm aha, that makes sense, didn't catch up to the latest FHS yet. So it looks like packages are supposed to be self-isolated inside /opt, right? On the contrary of most Arch packages currently do.

[2020-04-03 05:04] petronny commented on #68
`rocr-debug-agent` changed its dependency from `rocr-runtime` to `hsa-rocr`.
But it's still raising the same error.

[2020-04-04 02:29] acxz opened #86 "Package Cleanup Thread"
The following is a list of most packages (based on name) that ROCm provides via their Debian repo which we do not have (`*-tests, *-clients, *-samples, and *-doc packages have been omitted in this issue tracker). As such this is a request for creating these packages. Packages that would be unmaintained/deleted in addition to the corresponding packages added will be mentioned right below.

- [ ] [a

[2020-04-04 22:12] ranisalt commented on #86
`rocr-runtime` is superseded by `hsa-rocr`

`llvm-roc` has no equivalent on Debian packages as the packages are already compiled, there's no need for the compiler itself.

[2020-04-04 22:14] ranisalt commented on #43
Are you by chance using LTO? That sky rockets RAM usage, I can't compile it single thread with 16GB of RAM

[2020-04-04 22:34] acxz commented on #86
ah yes mistyped the -dev.

I'm still not familiar with ROCm's llvm stack so I cannot comment much on this. But I do believe that we should at least package what they have packaged for ubuntu and centos, including the deps. I'll strike through llvm-roc for now.

[2020-04-04 23:19] ranisalt commented on #86
Their stack is the weirdest messiest thing, there's a lot of overlapping and since they use CPack it's a little hard to generate the same packages using shell commands as in makepkg. I believe we are already very well here :)

[2020-04-05 11:09] acxz commented on #86
I see, in regards to rocm-opencl I think the `rocm-opecl` package we provide should be a 1:1 version of what is packaged by them. arch4edu is also kind enough to host binary versions of our packages.
However, I do understand creating explicit deps for it. Maybe we can create a `rocm-opencl-dep` package or something, which has the deps you mentioned but also have the OG `rocm-opencl` package that R

[2020-04-05 13:37] ranisalt commented on #86
Comparing the contents of `rocm-device-libs` deb vs Arch:

`rocm-device-libs` dev contents, marked if present in our package:
- [ ] /opt/rocm/include/amd_hsa_common.h
- [ ] /opt/rocm/include/amd_hsa_elf.h
- [ ] ./opt/rocm/include/amd_hsa_kernel_code.h
- [ ] ./opt/rocm/include/amd_hsa_queue.h
- [ ] ./opt/rocm/include/amd_hsa_signal.h
- [ ] ./opt/rocm/include/as.h
- [ ] ./opt/rocm/include/device_amd

[2020-04-05 14:23] acxz commented on #86
Thanks for the indepth analysis @ranisalt but can you make another issue about this? This thread is only about tracking missing and to be deleted packages.

[2020-04-05 14:34] ranisalt opened #89 "[rocm-device-libs] Files missing in comparison to deb"
Comparing the contents of `rocm-device-libs` deb vs Arch:

`rocm-device-libs` dev contents, marked if present in our package:
- [ ] /opt/rocm/include/amd_hsa_common.h
- [ ] /opt/rocm/include/amd_hsa_elf.h
- [ ] /opt/rocm/include/amd_hsa_kernel_code.h
- [ ] /opt/rocm/include/amd_hsa_queue.h
- [ ] /opt/rocm/include/amd_hsa_signal.h
- [ ] /opt/rocm/include/as.h
- [ ] /opt/rocm/include/device_amd_hsa.

[2020-04-06 04:25] helloworld1 opened #90 "[llvm-roc] Need makedepends `diffutils`"
Without dependency on diffutils, the build will fail on running unit tests.
We should either disable running unit tests or add diffutils make dependency.

[2020-04-06 13:11] ranisalt opened #91 "[hsakmt-roct] need to sync"

[2020-04-06 18:10] tpkessler opened #92 "[rocminfo] Missing libhsa-ext-finalize64.so.1and libhsa-ext-image64.so.1"
Executing `rocminfo 3.3.0` I get the following warning:

[code]
The library `libhsa-ext-image64.so` is part of `hsa-ext-rocr`. However, I cannot find a package that ships `libhsa-ext-finalize64`. It seems like AMD removed it with ROCm 1.9, see [here](https://github.com/RadeonOpenCompute/ROCm/issues/537#issuecomment-421691921).
In older versions of ROCm, this library was part of `libhsakmt`, see a

[2020-04-06 19:07] kozross opened #94 "[hsa-rocr] cannot build due to missing hsakmt-roct>=3.3.0"
When trying to update today, I got this:

[code]

[2020-04-06 21:14] helloworld1 commented on #53
clinfo also gives error about compile opencl source. I tested clinfo on ubuntu rocm, it works without error
[code]

[2020-04-06 23:02] acxz commented on #94
Thx for the reports as always @kozross!

[2020-04-06 23:07] acxz commented on #94
Need to sync with an `aurpublish hsa-rocr` @neeshy @ranisalt

[2020-04-07 12:31] acxz commented on #30
@neeshy this issue has been open for a week, can you take a look at it? If we don't hear a response within a couple of days, we'll go ahead and submit an orphan request for this package.

[2020-04-07 12:33] acxz commented on #78
@farnoy, @naetherm, @neeshy this issue has been open for a week, can you take a look at it? If we don't hear a response within a couple of days, we'll go ahead and submit an orphan request for this package.

[2020-04-07 12:33] acxz commented on #79
@farnoy, @naetherm, @neeshy, @ranisalt  this issue has been open for a week, can you take a look at it? If we don't hear a response within a couple of days, we'll go ahead and submit an orphan request for this package.

[2020-04-07 12:34] acxz commented on #80
@farnoy, @naetherm, @neeshy this issue has been open for a week, can you take a look at it? If we don't hear a response within a couple of days, we'll go ahead and submit an orphan request for this package.

[2020-04-07 12:39] acxz commented on #92
Can you post the output of running rocminfo with `hsa-ext-rocr`? I believe we may need to bring this issue upstream. If you could post an upstream issue, if the issue still persists and link it here that would be great!

[2020-04-07 12:42] acxz commented on #11
@naetherm it seems like you have made several commits but have not synced them to the AUR. Can you ahead and do that like so: `aurpublish <package_name>`? It is important to keep close to the AUR when committing or to make an issue if said committer does not have privileges to the AUR package.

[2020-04-07 12:54] tpkessler commented on #92
I believe that this is an upstream issue, too. I took a look at the file list you linked in #86. AMD's packages do not include `libhsa-ext-finalize64.so`.

Running `rocminfo` with `hsa-ext-rocr` results in
[code]

[2020-04-07 13:17] acxz commented on #92
I see well then I guess we need to bring this up to the ROCm devs. Thx for looking into this!

[2020-04-07 15:41] ranisalt commented on #94
I don't have access to it, @neeshy is the only maintainer.

[2020-04-07 15:46] ranisalt commented on #79
Done

[2020-04-07 15:52] ranisalt commented on #11
Also it seems that some version bumps reverted previous commits. Please take care with pulling before changing anything to avoid these issues.

[2020-04-07 17:36] acxz commented on #94
You (rsa) are listed as a co-maintainer: https://aur.archlinux.org/packages/hsa-rocr/

[2020-04-07 17:52] ranisalt commented on #94
But hsa-rocr is up to date, hsakmt-roct is the problem here

[2020-04-07 18:12] acxz commented on #94
See the latest commit on has-rocr. My bad should have created a PR or linked the commit here to get more visibility.
The versioned dep has been removed in this package.

[2020-04-07 18:32] ranisalt commented on #94
Ah, sorry. Done, then.

[2020-04-07 18:32] #94 closed

[2020-04-08 07:13] tpkessler commented on #92
I've opened an issue upstream:

https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/89

[2020-04-08 07:29] tpkessler opened #95 "[rocm-opencl-runtime] clinfo and libamdocl64.so contain references to $srcdir"
`clinfo` links `libOpenCL` from $srcdir. In my case:

[code]

[2020-04-08 07:37] tpkessler opened #97 "[rocm-opencl-runtime] clinfo doesn't work"
The loader file in `/etc/OpenCL/vendors` is missing. Fixed with PR #96

[2020-04-08 10:57] farnoy commented on #80
Sorry @acxz, been very busy lately. I've added you as Co-Maintainer, could you do the sync yourself?

[2020-04-08 10:58] farnoy commented on #78
@acxz Added you as co-maintainer for this package as well

[2020-04-08 13:27] acxz commented on #78
Thank you! and synced

[2020-04-08 13:27] #78 closed

[2020-04-08 13:27] acxz commented on #80
Thank you! and synced.

[2020-04-08 13:28] #80 closed

[2020-04-08 21:38] kozross opened #98 "[hsa-ext-rocr] Remote repository 404s"
As per this:

[code]

I got this when trying to update ``rocminfo``.

[2020-04-08 22:14] acxz commented on #30
Should be resolved now

[2020-04-08 22:14] #30 closed

[2020-04-08 22:15] acxz commented on #98
Just updated the package on the AUR @kozross try again, let us know if it still does not work.

[2020-04-08 22:15] #98 closed

[2020-04-09 05:09] naetherm commented on #11
Of course, I wanted to update other libraries as well before running an `aurpublish` but I could also do that in sync with pushing.

[2020-04-09 05:25] naetherm commented on #91
Or potentially add the others as co-maintainers?

[2020-04-10 22:16] acxz opened #100 "[hsa-amd-aqlprofile] sync up"
Need to sync

[2020-04-10 23:28] #100 closed

[2020-04-11 13:36] tpkessler commented on #97
Ok. Not really fixed with PR #96 / #97
`clinfo` shows me half of its output and then aborts with a build error:
[code]
The same for `clinfo` from the upstream packge:
[code]

[2020-04-11 14:20] tpkessler commented on #97
I've opened an issue upstream: [here](https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/issues/110#issue-598275320)

[2020-04-11 19:49] #91 closed

[2020-04-11 22:12] ranisalt commented on #91
Thanks neeshy :)

[2020-04-12 01:40] mikelynch opened #102 "Document getting started for new users"
Thank you everyone who's contributing to getting ROCm running on Arch! Obviously there are a lot of packages here. Please could someone document the good starting points to get
1. A basic ROCm setup working (e.g. that you could then run a docker image on top of with the userspace components), and
2. Ideally what's needed to get tensorflow for ROCm running bare metal?

I've been having some issues

[2020-04-12 03:50] acxz commented on #102
Thx for your comments!

The packages here are still a WIP, but our end goal is to follow upstream as close as possible. As such for first point I would refer you to the official documentation: https://rocm-documentation.readthedocs.io/en/latest/

For the second point I haven't personally looked at tensorflow yet, but feel free to make a package request issue, so we can track and others can try to

[2020-04-13 10:21] petronny commented on #68
About `rocr-debug-agent`,
it seems that the `Lightning Compiler` here is `/opt/rocm/opencl/bin/x86_64/clang`.
Which package does it belong to?

[2020-04-13 15:07] oleid commented on #55
#104 will help, compiles fine for me with linux-lts package (kernel 5.4)

[2020-04-13 15:20] ranisalt commented on #68
`llvm-roc` or `rocm-clang-ocl` will have it, but the former installs to `/opt/rocm/bin/clang`.

[2020-04-14 15:33] rigred opened #105 "rocminfo & bad packaging symlinks"
So I've noticed this happening again with rocminfo having a package symlinked into a yay's cache directory

The make DESTDIR command followed by the symlinking pkgdir directories results in installed packages pointing to the pkgdir directory post install.
![image](https://user-images.githubusercontent.com/5716332/79243388-da7b2b80-7e75-11ea-8253-24ae1a01a539.png)

Example
![image](https://user-ima

[2020-04-14 15:55] rigred commented on #95
The issue is once again the same as #57
https://github.com/rocm-arch/rocm-arch/commit/2b0595f3be438a773bcd41e9e603b4b65d535e85

[2020-04-14 15:57] rigred commented on #105
Again the same issues as #57
https://github.com/rocm-arch/rocm-arch/commit/2b0595f3be438a773bcd41e9e603b4b65d535e85
Fix is to not `make DESTDIR="$pkgdir" install`

But instead to:
[code]

[2020-04-14 15:59] rigred commented on #105
If you make install you trigger the makefiles installer routine
Don't do that!

[2020-04-14 16:25] rigred commented on #105
So it's safe to symlink inside the srcdir but not inside the pkgdir.

So you need to build inside srcdir, copy to pkgdir and then progress the install.

[2020-04-14 16:34] rigred commented on #105
There has got to be a better solution than this

[2020-04-14 16:42] rigred commented on #105
Ok well duh the fix is easy
Change
[code]
to
[code]

[2020-04-14 16:44] #105 closed

[2020-04-14 16:50] rigred commented on #105
@farnoy Please aurpublish rocminfo update
If possible add me as co-maint
Thanks

[2020-04-14 16:54] rigred commented on #95
As far as I can tell this is resolved?
![image](https://user-images.githubusercontent.com/5716332/79252099-5fb80d80-7e81-11ea-8bef-fdac56c211ac.png)

[2020-04-15 12:12] arsenm commented on #53
This script is not used (should should really be removed). The OpenCL compile is managed by [comgr](https://github.com/RadeonOpenCompute/ROCm-CompilerSupport/tree/amd-stg-open/lib/comgr)

[2020-04-15 13:25] acxz opened #107 "[rock-dkms] outdated"
@farnoy @ranisalt @naetherm @neeshy
Can you guys push this out with an `aurpublish rock-dkms`?
Also if you can add the following pinned comment to the AUR package page that would be great.
[code]
You can also just add me as a co-maintainer if you feel lazy ;p

[2020-04-15 16:58] ranisalt opened #108 "[rock-dkms-git] should be removed"
Both `rock-dkms` and `rock-dkms-git` generate the same package, I don't know why the latter was created and it should probably be removed.

[2020-04-15 17:04] ranisalt opened #109 "[libhsakmt-git] should be removed"
This package pulls from an extremely outdated (4 years) and abandoned repository for `hsakmt-roct`. Development moved to a new repository that the latter already follows. Should remove the former package then.

[2020-04-16 01:08] jackyin68 opened #110 "ubuntu 19.10 cannot install rocm properly"
/opt/rocm/bin/rocminfo
ROCk module is loaded
nlp is member of video group
hsa api call failure at: /data/jenkins-workspace/compute-rocm-rel-3.3/rocminfo/rocminfo.cc:1102
Call returned HSA_STATUS_ERROR_OUT_OF_RESOURCES: The runtime failed to allocate the necessary resources. This error may also occur when the core runtime library needs to spawn threads or create internal OS-specific events.

[2020-04-16 01:17] #110 closed

[2020-04-17 05:58] ranisalt opened #111 "[rocm-comgr] needs to sync"
This one is on me, please let me sync it, I'm ensuring it packages properly first.

[2020-04-17 15:39] tpkessler commented on #92
This warning is only visible with a debug build. See my PR #112

[2020-04-17 15:49] tpkessler opened #113 "[rocm-comgr] Linking fails during build"
When compiling `rocm-comgr`, the following error occurs:
[code]
Albeit the function is present in `/opt/rocm/lib`:

[code]

[2020-04-17 16:30] tpkessler commented on #113
Fixed with PR #114

[2020-04-17 18:41] tpkessler commented on #95
Not for me:

[code]

[2020-04-18 04:48] #111 closed

[2020-04-18 14:06] acxz commented on #108
Instead of removing it we can update it to just use the upstream sources: https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver

[2020-04-18 14:07] acxz commented on #108
See: #29

[2020-04-18 14:40] acxz commented on #102
Closing this issue as I believe it has been answered.

[2020-04-18 14:40] #102 closed

[2020-04-18 14:43] acxz commented on #109
Good point, can you submit a deletion request at https://aur.archlinux.org/packages/libhsakmt-git?

[2020-04-18 14:47] #92 closed

[2020-04-18 16:13] ranisalt commented on #108
That is a very good suggestion indeed; I don't know how to work with dkms, though.

[2020-04-18 16:13] #108 closed

[2020-04-18 16:13] ranisalt commented on #109
Done. When it's accepted, I'll remove the packages here then :)

[2020-04-18 19:14] guiguid commented on #113
fixed with :
`-DCMAKE_EXE_LINKER_FLAGS="-Wl,-rpath-link,/opt/rocm/lib" \`
only

[2020-04-18 19:36] acxz commented on #68
Sorry for getting back p late, end of the semester is always rough. `rocr-debug-agent-3.3.0-2` should resolve the Lightning Compiler issue.

[2020-04-19 00:46] acxz commented on #68
I can't seem to figure the hip-hcc error. Since you last upgraded the hip package, can you tell us how you got it to work @naetherm ? Here is the error I'm getting along with others: https://github.com/rocm-arch/rocm-arch/issues/68#issuecomment-604272120
I tried finding something on the upstream issue page but couldn't. We might have to submit an upstream issue for this. I'll wait for a response f

[2020-04-19 01:22] acxz commented on #64
Tried to replicate it but I get stuck on installing rocblas, which in turn is getting stuck on install hip-hcc, which is being tracked at the following issue: #68

[2020-04-19 01:33] acxz commented on #67
@zman0900 sorry it took me so long to get to this but this issue should be fixed in `rocm-bandwidth-test-3.3.0-2`. Let us know if you still have any issues!

[2020-04-19 01:33] #67 closed

[2020-04-20 05:01] ranisalt opened #117 "[rocminfo] need to sync"
Script symlink was broken, and a dependency was missing.

[2020-04-20 05:25] acxz commented on #117
synced. @farnoy if you could add @ranisalt (rsa on the aur) to the co-maintainers that would be great.

[2020-04-20 05:25] #117 closed

[2020-04-20 09:16] cdarken commented on #53
Finally, after updating to 3.3.0 it works for me too even if it ends with a segmentation fault, I had to add manually the icd file. Even the opencl-benchmark gpu program works.

[2020-04-20 17:40] tpkessler commented on #97
Fixed with #103

[2020-04-20 17:40] #97 closed

[2020-04-20 18:17] helloworld1 commented on #53
This is what is missing
[code]
I am not sure why icd file is missing. Is it an upstream issue?

[2020-04-20 18:37] tpkessler commented on #95
According to the the [cmake wiki](https://gitlab.kitware.com/cmake/community/-/wikis/doc/cmake/RPATH-handling)

So `clinfo` should not depend on `$srcdir`. I think this is an upstream issue.

[2020-04-20 20:15] ranisalt commented on #53
Yes. It is fixed with the latest `rocm-opencl-runtime` update thanks to a patch by @tpkessler, please update to v3.3.0-5

[2020-04-20 20:23] ranisalt commented on #95
`clinfo` shouldn't even exist in this package. It can be removed, just use `clinfo` from [community]

[2020-04-20 20:25] ranisalt commented on #39
Done!

[2020-04-20 20:25] #39 closed

[2020-04-20 20:29] ranisalt commented on #52
I am strongly against this. Unless there's very compelling reason for users to have multiple versions installed for ROCm tools, this will only lead to confusion.

Also, that would imply that we maintain every single version as a separate package e.g. `rocm-opencl-stable`, `rocm-opencl-330`, `rocm-opencl-310` and so on, otherwise versioned directories make no sense at all.

Removing the version can

[2020-04-20 20:34] ranisalt commented on #90
`diffutils` is required by `autoconf` which is part of `base-devel`, and `base-devel` dependencies [are assumed to be installed](https://wiki.archlinux.org/index.php/PKGBUILD#makedepends):

[2020-04-20 20:34] #90 closed

[2020-04-20 21:47] acxz commented on #52
Everything should be symlinked properly to /opt/rocm.

I think it is important to follow upstream and if they are messing up then submitting patches there. I would rather we do that so that users can follow upstream documentation as much as possible instead of figuring out Arch does it.

It does not imply we maintain different versions at all. We will stick with providing the latest working packag

[2020-04-21 00:35] ranisalt commented on #52
They do it because it is the Debian way. You can install any given version of some software on Debian, because dependencies are version locked. It does not make sense with Arch Linux and always-up-to-date versioning.

It's just a matter of seeing that version suffix is dropped, it's not a big deal for users.

How do you suggest we maintain partial upgrades when ROCm launches a new version and we n

[2020-04-21 00:43] acxz commented on #52
We update things as we can, If some package build is broken then we leave it at that version, until we can fix it. The symlinking should be done on a package to package basis.

[2020-04-21 02:38] ranisalt commented on #52
I can only see that being cumbersome, it's really not needed with Arch. Also, I understand the documentation says single instance is fine, multi instance is an option for whoever needs to use multiple versions at the same time (and I repeat, not needed with Arch).

They argue:

So what's the point of providing such ability if we are not to provide two versions of the packages? Pointless.

The docu

[2020-04-21 06:18] petronny commented on #68
`rocr-debug-agent` is fixed now.
However,  the latest version of `rocm-comgr` fails to build with the following error:

[code]

[2020-04-21 06:46] ranisalt commented on #68
@petronny check #115

[2020-04-22 04:49] #113 closed

[2020-04-22 15:22] lordheavy opened #120 "[hcc] 3.3.0-1 fail to build in a clean chroot"
output:
[100%] Building CXX object cmake-tests/CMakeFiles/cmake-test.dir/cmake-test.cpp.o
[100%] Linking CXX executable ../../../../bin/c-index-test
[100%] Linking CXX executable ../bin/cmake-test
ld: warning: libhsakmt.so.1, needed by /opt/rocm/lib/libhsa-runtime64.so, not found (try using -rpath or -rpath-link)
ld: /opt/rocm/lib/libhsa-runtime64.so: undefined reference to `hsaKmtUpdateQueue@HSAK

[2020-04-22 15:38] lordheavy commented on #120
from namcap:
hsa-rocr E: Dependency hsakmt-roct detected and not included (libraries ['opt/rocm/lib/libhsakmt.so.1'] needed in files ['opt/rocm/hsa/lib/libhsa-runtime64.so.1.1.9'])

[2020-04-22 15:43] lordheavy commented on #120
https://github.com/rocm-arch/rocm-arch/pull/121

[2020-04-22 17:07] lordheavy commented on #109
Package removed!

[2020-04-22 17:10] lordheavy commented on #68
@petronny still broken here (in a clean chroot ofc)

[2020-04-22 17:14] rigred opened #122 "rocprofiler and rocm-profiler install the same or conflicting files"
Attempting to install rocm-profiler leads to conflicts with rocprofiler (dependency of rocm-dev)
rocm-profiler appears to be an older duplicate of rocprofiler. It's currently at version 3.1.0.
Additionally rocm-profiler has bad packaging paths.

Suggest we evaluate and remove rocm-profiler.

![image](https://user-images.githubusercontent.com/5716332/80012347-7ab3fe80-84cd-11ea-9021-ee33064bc245.pn

[2020-04-22 17:15] rigred commented on #122
further to that `/opt/rocm/bin/rocprof` bin should be symlinked into users path directory.

[2020-04-22 17:19] rigred commented on #122
Confirmed it's the same package.
Suggest we remove rocm-profiler and keep rocprofiler which uses the matching upstream name.

[2020-04-22 17:20] rigred commented on #109
Great.
With that I close this issue.

[2020-04-22 17:20] #109 closed

[2020-04-22 17:24] rigred commented on #95
Just checked and confirmed that indeed rocm-opencl-runtime includes clinfo
![image](https://user-images.githubusercontent.com/5716332/80013098-a1bf0000-84ce-11ea-8327-3c774d57ae22.png)

The rocm clinfo also outputs quite different data vs the system clinfo
I have attached both outputs here for comparison:
[rocm_clinfo.txt](https://github.com/rocm-arch/rocm-arch/files/4517923/rocm_clinfo.txt)
[sys_

[2020-04-22 17:36] ranisalt commented on #68
@petronny #115 was merged and publish, please try updating rocm-comgr.

[2020-04-22 17:59] ranisalt commented on #95
In my system, while the output format is different, the data is the same, and quickly glancing at your files it seems to be the case for you too. It displays roughly the same information, but in a different order and with a different formatting.

I don't get why AMD rolled their own clinfo, with different formatting to the same data.

[2020-04-22 19:26] lordheavy commented on #68
@ranisalt fixed rocm-comgr compilation in a clean chrrot by adding "-DCMAKE_EXE_LINKER_FLAGS="-Wl,-rpath-link,/opt/rocm/lib" \"

See https://github.com/rocm-arch/rocm-arch/issues/113#issuecomment-615929812

[2020-04-22 19:42] acxz commented on #122
Sounds good, can u submit an AUR deletion request? We will delete it from here once it gets accepted.

[2020-04-22 19:49] rigred commented on #122
Tagging @naetherm here tpp

[2020-04-22 19:51] rigred commented on #43
Closing as no longer relevant.
LMK if someone thinks otherwise

[2020-04-22 19:51] #43 closed

[2020-04-22 20:05] rigred commented on #29
What's the current state of this issue?
Last  checked we have a working open source implementation of ROCk inside the open source amdgpu kernel module in the form of KFD (Kernel Fusion Device)
This means the ROCk module provided upstream is only for older kernels on LTS ubuntu etc distros.
For arch even the LTS branch already includes KFD since August 2018

See
https://github.com/torvalds/linux/tr

[2020-04-22 21:13] neeshy commented on #29
I think that's the best way to go. rock-dkms doesn't even build on kernels past version 5.0 IIRC.

[2020-04-23 02:39] acxz commented on #122
@rigred were u able to submit an AUR deletion request?

[2020-04-23 06:33] petronny commented on #68
I just check the build log and `rocm-comgr 3.3.0-3` fails at 94%. (The build log in the previous comment has been updated.)

[2020-04-23 07:38] ranisalt commented on #68
Is the rest of the stack updated? Namely, it seems to be an issue with either rocm-comgr using dirty caches or llvm-roc.

[2020-04-23 09:16] rigred commented on #122
Yes it's still pending.

[2020-04-23 09:18] rigred commented on #53
Can confirm that OpenCL is now fully working again.
Users need only update to the latest aur releases.
Hereby closing this issue.

[2020-04-23 09:18] #53 closed

[2020-04-23 09:34] petronny commented on #68
I've arranged rebuilds of all the dependencies of `rocm-comgr` (`llvm-roc`, `rocm-cmake` and `rocm-device-libs`). We can get the result tomorrow.

[2020-04-23 10:47] rigred commented on #29
Here's a table that currently lists the ROCK-dkms vs KFD in kernel Pro's Con's
Some of these have changed since
https://github.com/RadeonOpenCompute/ROCm#rocm-support-in-upstream-linux-kernels

[2020-04-23 12:36] lordheavy commented on #122
aur package removed

[2020-04-24 05:16] petronny commented on #68
I'm sure all dependencies are rebuilt.
But `rocm-comgr` still fails at 91% (build log updated).

[2020-04-25 03:00] acxz commented on #89
Based on my list [here](https://github.com/rocm-arch/rocm-arch/files/4441142/rocm-installation.txt), we have all the files we need in this package. I believe we can close this issue.

[2020-04-25 14:14] acxz commented on #86
@ranisalt I would like to create a `comgr` package that will replace the current `rocm-comgr` package.
Can I do that?

[2020-04-25 17:25] #89 closed

[2020-04-25 17:35] ranisalt commented on #86
What's the reason?

[2020-04-25 17:41] acxz commented on #86
Same name as upstream package.

[2020-04-25 18:00] ranisalt commented on #86
Good. Is it possible to rename a package in AUR? I can only see options to delete, orphan and merge, but renaming would save some time

[2020-04-25 18:10] acxz commented on #86
nope we cannot rename, we need to recreate the package and then submit a merge request.

[2020-04-26 00:34] acxz commented on #55
relabelling to a bug since the PKGBUILD itself doesn't error out.

[2020-04-26 02:21] acxz opened #124 "packages that need to be synced"
- [x] hipblas
- [x] hipcub
- [x] hipsparse
- [x] rocalution
- [x] rocblas
- [x] rocprim
- [x] rocthrust
- [x] miopen
- [x] llvm-amdgpu
- [x] comgr
- [x] rccl
- [x] rocrand
- [x] rocm-device-libs

[2020-04-26 02:40] acxz commented on #68
We are now following upstream naming conventions and dropping rocm-comgr with comgr. I was able to build comgr in a clean root.

[2020-04-26 13:34] notcome opened #125 "What is `half`?"
I noticed that `miopen` depends on `half`, which I assume would be something related to half-precision computation? I could not find it on AUR, or this repo. Neither does `pacman -S half` could give me anything. How should I install it?

[2020-04-26 13:36] notcome commented on #124
Is this related to renaming packages? I am in the middle of building things and found that we have conflicted packages like `rocm-clang-ocl` and `clang-ocl`. I suppose I should better hold off installing ROCm until this is resolved?

[2020-04-26 13:42] notcome opened #126 "[(python-)tensorflow-rocm] Tensorflow complains "libmcwamp.so.3" not found."
First of all, thanks for everyone's work. This is really a huge amount of packages to deal with.

I did my best try to install `rocm-dev` manually, after which I installed `tensorflow-rocm` via pip using Anaconda. However, when I tried to list devices via Tensorflow, it complained that it could no t find `libmcwamp.so.3`.

The fix is simple, by `find` I found that the relevant library is inside `/

[2020-04-26 13:54] acxz commented on #125
It is on the AUR ;)
https://aur.archlinux.org/packages/half/

[2020-04-26 13:54] #125 closed

[2020-04-26 16:17] ranisalt commented on #86
Now it's all broken and all OpenCL applications exit with SIGSEGV.

[2020-04-26 19:57] kozross opened #127 "[comgr] Conflict in files with rocm-comgr"
When I try to update, I get this:

[code]

I guess this is another 'remove then reinstall' situation?

[2020-04-26 20:23] acxz commented on #127
Yep. Comgr is replacing rocm-comgr.

[2020-04-26 21:56] kozross opened #128 "[rocm-opencl-runtime] clinfo crashes without useful information"
After the latest update of this package, when I try to clinfo, I get this:

[code]

[2020-04-26 23:02] #127 closed

[2020-04-26 23:07] acxz commented on #84
sorry for taking a long time to respond to this, should be resolved with
99f2a22

[2020-04-26 23:07] #84 closed

[2020-04-26 23:08] acxz commented on #124
That specific conflict should be resolved, now.

[2020-04-27 04:39] petronny commented on #68
Ok, I'm replacing `rocm-comgr` with `comgr` now.

But `hip-hcc` still fails after `rocm-comgr` is replaced by `comgr`. (Build log updated.)

[2020-04-27 17:33] tpkessler opened #129 "[llvm-roc] Deprecate in favour of llvm-amdgpu"
`llvm-roc` never had a matching debian package but `llvm-amdgpu` does. Shouldn't the latter replace `llvm-roc`?

[2020-04-27 17:35] tpkessler opened #130 "[hip] Add comgr as dependency"
(rocm-) `comgr` is a runtime dependency of hip-compiled code.

[2020-04-27 20:14] s-bernard opened #135 "[python-pytorch-rocm] Compiling and running PyTorch with ROCm on Archlinux"
Hi everyone,

First, thanks a lot for maintaining the ROCm packages, it's not easy and you're doing a great job.

A week ago, I decided to try PyTorch with ROCm on my Arch so I began the compilation process. Then it failed, I found a way to remove the error, then it failed again, I fixed it, then again, etc.
I finally succeeded to have a working* version so I've compiled all the patches I did to s

[2020-04-27 20:17] s-bernard commented on #135
BTW, I did 4 PRs to simplify the review process, you can accept them in any order. Actually, all commits are independent and can even be sherry-picked.

[2020-04-27 22:03] acxz commented on #129
So the ubuntu llvm-amdgpu package does not contain the header files needed for some compilation. In that sense, they are supposed to be different, but the llvm-amdgpu we ship does have these header files.
Saying that yeah it makes sense to just have llvm-amdgpu replace llvm-roc. I'm in favor of this.

[2020-04-27 22:08] acxz commented on #135
Sweet this is really amazing. Thanks for this thorough investigation process! I'm a bit busy this week, but we will try to get these PRs merged and packaged through arch4edu.

[2020-04-27 22:44] kozross commented on #128
``rocminfo`` works correctly, though.

[2020-04-27 22:50] kozross commented on #128
It's actually even _weirder_ than that - this is a Heisenbug. Some executions of `clinfo` trigger this, and some don't.

[2020-04-28 02:20] acxz commented on #130
The hip package will be deleted soon. Please target `hip-hcc` and/or `hip-nvcc` for the hip codebase.

[2020-04-28 07:31] ranisalt commented on #129
I can't use anything build with `llvm-amdgpu`. `clinfo` segfaults. It was working with `llvm-roc`, please check the flags.

[2020-04-28 12:14] acxz commented on #129
With #131 clinfo works for me.

[2020-04-28 14:26] s-bernard commented on #135
I was thinking about writing the PKGBUILD for pytorch, do you think it is better to put it on this repository?

[2020-04-28 14:40] acxz commented on #135
Yeah it think it makes more sense for the PKGBUILD to live here, since it makes tracking issues and PRs much easier.

[2020-04-28 15:46] s-bernard commented on #135
OK, it confirms what I was thinking. I'll probably do a PR in the next days.

[2020-04-28 18:38] acxz commented on #68
@petronny I think we got `hip-hcc` with `hip-hcc-3.3.0-3` building fine, can you confirm? We also updated `hcc`.

[2020-04-28 19:03] acxz commented on #128
This should be resolved once the packages in #124 gets synced.

[2020-04-28 19:03] acxz commented on #129
Should be resolved once the packages in #124 get synced.

[2020-04-28 22:22] kozross commented on #128
@acxz Cool - will try again once that happens.

[2020-04-29 20:41] thx1111 commented on #124
Still, with rocm-comgr 3.3.0-3 installed:
[code]
Which package is at fault?

[2020-04-29 23:23] notcome commented on #124
My understanding is that there is some sort of name changing lately so comgr was rocm-comgr. What I did was removing all packages and recompile using PKGBUILDs from this repo. Everything went smoothly.

[2020-04-29 23:45] notcome commented on #135
When compiling `rocblas` I am getting complaints about cannot find LLVM's CMake file. Setting `LLVM_DIR` appears to solve the issue `/opt/rocm/llvm/lib/cmake/llvm/`. Do you guys have encountered this?

[2020-04-30 00:30] notcome commented on #135
Two additional issue while compiling rocblas.

First, `hipconfig` is not inside $PATH. Should it be installed to `/usr/bin` or should we set a temporary $PATH variable?

Second, `kernelextract` complains about:

[code]

I am not familiar with Perl at all. Lets say if I could install the said module.

[2020-04-30 01:05] notcome commented on #135
Just to confirm here that after exposing hipconfig via PATH, setting LLVM_DIR, and installing `pacman -S perl-file-which`, I have successfully compiled rocblas. Now heading to MIOpen, and hopefully Tensorflow would work.

[2020-04-30 01:32] thx1111 commented on #124
Thanks for the note.  Hmm - that seems unfortunate, since `pacman -Qs rocm` can no longer be used to discover all of the rocm packages.  But then, the hsakmt-roct package also fails to show in those results.  What is the point of the name change?  Gratuitously removing *all* packages, and recompiling - and without any instruction that this is *necessary* - itself seems overly "heavy-handed".

I se

[2020-04-30 04:41] petronny commented on #68
It's still not working...
I've updated the build log.
PS. Here is the full build command.
[code]

[2020-04-30 07:18] petronny commented on #68
About this error:
[code]
I think there should be a file that contains a line like:
[code]
But it's not imported in the build system.

[2020-04-30 11:40] s-bernard commented on #135
Strange about hipconfig in the PATH, it should be done in c0c9ecf (or the equivalent for hip).

For rocblas and LLVM_DIR, I think you actually does not need llvm-gpu, so regular system llvm works. It should probably added as dependency.

[2020-04-30 11:41] s-bernard commented on #135
@notcome The strangest issue I have with PyTorch is https://github.com/ROCmSoftwarePlatform/pytorch/issues/639.

[2020-04-30 14:16] s-bernard commented on #135
OK, I get it for hipconfig, I made a stupid typo!

[2020-04-30 14:25] s-bernard commented on #135
BTW, I compiled pytorch within a ubuntu docker and all official packages. I had to apply the same patches to PyTorch and some cmake files. Thus what is done here is really good.

[2020-04-30 18:50] acxz commented on #124
@farnoy @ranisalt @naetherm @neeshy can you guys take a look at these packages and try to sync them?

[2020-05-01 01:31] ranisalt commented on #124
I updated most of them, the others I don't have access.

[2020-05-01 03:45] acxz commented on #128
@kozross some updates are out, this `clinfo` should work fine now, can you confirm and if so close this issue?

[2020-05-01 05:37] #120 closed

[2020-05-01 05:38] kozross commented on #128
``clinfo`` still has the same issue:

[code]

Weirder _still_ is this:

[code]

[2020-05-01 09:31] helfio opened #137 "[rocblas] Possible memory leak building rocblas"
Hi,

I'm trying to build the whole stack, but I got into a problem here. Building rocblas it seems to be a memory leak since clang10 process grows up to all the ram it can eats (I have 16GB) and I'd say the whole swap as well (it got up to 15 of my 20 GB). Any idea how to solve this?

In case it is realted, before doing this, I was trying to build it with hip package, but I saw some commits on hip

[2020-05-01 09:45] tpkessler commented on #137
Hey Pablo,

it's not a bug, it's a feature. I need 50 GB RAM to compile `rocblas`. If you need more RAM you may create a swapfile:

https://wiki.archlinux.org/index.php/swap#Swap_file

[2020-05-01 10:01] helfio commented on #137
Oh! Ok, I'll grow my swapfile.
Thank you!

[2020-05-01 11:29] helfio commented on #137
It did the trick. Thank you @tpkessler !

[2020-05-01 11:29] #137 closed

[2020-05-01 12:29] acxz commented on #68
@petronny sorry about that it seems like some hip-hcc deps were not updated on the AUR. This has been done and along with the updated deps, `hip-hcc` has also been updated to `hip-hcc-3.3.0-4`

[2020-05-01 14:10] marciosr commented on #68
I have similar issue trying to build hip-hcc on a clean chroot.
It isn't in a normal build so i tried in an chroot.
[build-hip-hcc.log](https://github.com/rocm-arch/rocm-arch/files/4564621/build-hip-hcc.log)

[2020-05-01 15:25] helfio opened #138 "[hip-hcc] Tests fail to build"
Hi!

I'm currently building rocm thanks to your work (thank you very much!), but I wonder when is this fully functional.

My main goal is to being able to use Tensorflow with Rocm, but right now it throws an error (HIP_ERROR_InvalidValue):

At this point I wonder whether this is a tensorflow-rocm problem (updated to last release available for Python 3.6 through pip) or is it due to some missing pa

[2020-05-01 15:39] thx1111 commented on #124
Maybe make sure that the string "rocm" is used or included in the descriptions of all of the related packages, so that `pacman -Qs rocm` or `pacman -Ss rocm` will immediately find them all?

[2020-05-01 17:04] acxz commented on #124
That seems like a good idea, we could also create a ‘rocm’ group. In any case, feel free to create PRs about this! ;)

[2020-05-01 19:11] s-bernard commented on #138
Hi, I have currently the same problem with PyTorch. It compiles, imports then fails.
What I have found is that HIP seems to not work correctly.

Can you clone https://github.com/ROCm-Developer-Tools/HIP-Examples and run the tests. For me, it fails.

Specifically, if I just run reduction, I get incorrect result:
[code]

On the same hardware, I checked with an ubuntu docker 18.04 where I installed R

[2020-05-01 19:14] s-bernard commented on #56
This issue can be closed, fixed by #132.

[2020-05-01 19:20] #56 closed

[2020-05-01 22:30] helfio commented on #138
As you can see, I experience mostly the same result.

Moreover, the screen freezes (already running stuff stays ok) and it shows some graphical glitches which keep the PC unusable until reboot. The last test it tries is the following

It has something to build first (I can see a make proccess in htop) which cannot finish. I see no activity nor on this proccess, the whole bash file tests or the GPU

[2020-05-01 23:17] s-bernard commented on #138
Well, for the kernel bug, we should probably report it upstream. On HIP, I'll see what I can do.

@acxz @naetherm is it working for you?

[2020-05-02 00:06] acxz commented on #138
I actually haven't even been able to get `hip-hcc` compiling. I got it working once, but I uninstalled some stuff and tried to build it in a clean chroot and it is not working for me.

[2020-05-02 06:26] helfio commented on #138
Which one of the several hip packages from the repo is the correct one? This tests I did them using `hip-nvcc`, but all the building it was with `hip-hcc`.

Maybe it makes sense to have a README here so other people can find the right order and the right packages, or a metapackage (I don't know how to do that last thing).

[2020-05-02 06:52] helfio commented on #138
Going back to building hip-hcc, I see a warning regarding the interception layer:

[2020-05-02 07:02] naetherm commented on #138
@acxz You got the 3.3.0 version of hip-hcc compiling? @s-bernard: For me it was crashing - and that's the interesting part now - yesterday, resulting in the same error mentioned in the commit of rocblas: https://hastebin.com/ubivucifey.sql
When trying to compile again this morning hip-hcc works without an error.

[2020-05-02 10:13] s-bernard commented on #138
What are the errors?

[2020-05-02 10:18] s-bernard commented on #138
I used hip then I migrated to hip-hcc. The important thing with hip is it must be compiled and used by the same hcc.

It definitely makes sense to write a README. This stack is overly complex. I'll probably rebuild/resintall ROCm from scratch new week, I'll take notes.

[2020-05-02 10:20] s-bernard commented on #138
@naetherm I can't opren your link. So it builds, do the hip examples work?

[2020-05-02 11:00] helfio commented on #138
I have the order (gathered from pacman logs and so on) in which I built the packages I was able to:

In case it is the right one, it would save some time in building the stack.
Also: am I missing any package?

[2020-05-02 11:05] petronny commented on #68
Still, the same error with `hip-hcc-3.3.0-4`

[2020-05-02 13:37] acxz commented on #138
I did get it working at one point, but now I cannot get it working.

The same as shown in the clean chroot issue tracker: https://github.com/rocm-arch/rocm-arch/issues/68#issuecomment-604272120

[2020-05-02 13:46] acxz commented on #129
I have made a merge request for this package. Once it is approved we can remove it from this repo.

[2020-05-02 13:46] s-bernard commented on #138
Just to be sure, do you have hcc 3.3.0?

[2020-05-02 13:49] s-bernard commented on #138
I'll look at it next week.

[2020-05-02 14:18] acxz commented on #138
Yep I was using hcc-3.3.0-2

[2020-05-03 11:46] petronny commented on #68
Hi, I did a little research about `hip-hcc` and here is what I find:

About `__hcc_workweek__`, there is a discription about it in [CONTRIBUTING.md](https://github.com/ROCm-Developer-Tools/HIP/blob/master/CONTRIBUTING.md#testing-hcc-version) in the repo [ROCm-Developer-Tools/HIP](https://github.com/ROCm-Developer-Tools/HIP). And it says

[code]
The `16014` here is the `__hcc_workweek__` version.
H

[2020-05-03 13:24] acxz commented on #68
Wow thanks for looking into this, @petronny!
hmmm, that is very weird for sure. I think for now it would be cleaner to just change the sources to use the git repo instead of adjusting the code.

In the back of my mind I feel like we may be just missing a `git` or some other dependency somewhere in the packages. Many people such as @s-bernard have been able to compile hip-hcc without this workaroun

[2020-05-03 13:45] petronny commented on #68
I just tested the case that only adding `git` to `makedepends` but still using the tarball.
It does build in this case.

OK. Sure.

[2020-05-03 14:01] acxz commented on #68
Whoa that was just a hunch, glad it worked!!!

[2020-05-03 14:06] acxz commented on #68
Do you think if git is added to `hcc` than the __hcc_workweek__ 99999 patch isn't needed either?

[2020-05-03 14:10] acxz commented on #68
hmm maybe not, let's not worry about it right now.

[2020-05-03 14:16] petronny commented on #68
Only adding git to `hcc`'s makedepends may not solve the problem.

The key issue is how `__hcc_workweek__` is generated.
Basically `__hcc_workweek__` is another form of the date of the project.
We can get the date by a git commit if we are in a git project.
But tarball doesn't have the commits.
Therefore we can't get the date.

We may also need to change `hcc`'s source to git repo.

[2020-05-03 14:20] acxz commented on #68
I see, then yeah I think the solution you came up with the best one.
Just pushed hip-hcc to the AUR.
Thank you once again!

[2020-05-03 16:36] mighty9245 opened #147 "[rocm-opencl-runtime] either rocm-device-libs or llvm-roc is runtime dependency, not make"
i was manually installing `rocm-opencl-runtime` (without an aur helper) and after successful installation decided to do a little cleanup - i moved all packages to dependencies and left `rocm-opencl-runtime` explicitly installed, but i noticed that nothing depends on two packages - `rocm-device-libs` and `llvm-roc`, they are make dependencies. i assume that i can delete make dependencies after succ

[2020-05-03 16:44] acxz commented on #147
Thx for reporting! Feel free to make a PR resolving this.

[2020-05-03 20:19] farnoy commented on #124
Sorry about being a blocker here, I'll go ahead and disown my packages, but first I need to reorder my co-maintainer list.

[2020-05-03 20:23] farnoy commented on #124
Ok that didn't take very long, @acxz you're now the maintainer of these packages:
* rocrand
* clang-ocl
* hcc
* hip
* miopen
* miopengemm
* rocfft
* rocm-cmake-git
* rocminfo

[2020-05-03 20:29] acxz commented on #124
Sweet thank you so much!!

[2020-05-03 20:46] acxz commented on #86
Can you post the error in a different issue? Maybe it is a dup of #147 ?

[2020-05-03 20:51] acxz commented on #128
hmmm, I am not able to reproduce this issue.

[2020-05-03 20:54] kozross commented on #128
Would I be able to provide anything to you that might help diagnose what this is doing? I'd love to help, but I have no clue where to even begin. I suspect there's a broken upgrade somewhere, so I might just rebuild the entire ROCm stack on my machine and see if it goes away.

[2020-05-03 21:05] acxz commented on #128
Yeah try a rebuild of the stack, if you are not familiar with it make sure to checkout the [`arch4edu`](https://wiki.archlinux.org/index.php/Unofficial_user_repositories#arch4edu) repository they are hosting binary packages of the rocm stack. (Currently working on getting all of them on there, but the big ones are there already like hcc and llvm-amdgpu.

[2020-05-03 22:31] kozross commented on #128
That solved it! The only thing that weirds me out a bit is this, after a clean rebuild of ``rocm-opencl-runtime``:

[code]

[2020-05-03 23:34] acxz commented on #128
I believe since those are make dependencies they are not needed for the packages after you install them. I’ll go ahead and close this issue.

[2020-05-03 23:51] #128 closed

[2020-05-04 02:22] acxz commented on #68
@petronny can we go ahead and close this issue?

[2020-05-04 02:44] petronny commented on #68
Yeah

[2020-05-04 02:44] #68 closed

[2020-05-04 04:19] kozross opened #148 "[rocm-opencl-runtime] z3 is not a direct dependency"
While it _is_ a dependency of ``llvm-amdgpu``, ``z3`` is not a direct dependency. Without it, OpenCL will not work (even ``clinfo`` will crash).

[2020-05-04 07:47] kode54 commented on #148
It should be a direct dependency of `comgr`, since that is the nearest library which imports it.

[2020-05-04 09:43] kozross commented on #148
According to #128, a clean rebuild of ``rocm-opencl-runtime`` gave the following output:

[code]

Removing those also took out ``z3``. Also, issue #147 appears to run afoul of something similar.

[2020-05-04 11:04] acxz commented on #124
@ranisalt @naetherm can you take a look at these packages to sync once more?

[2020-05-04 16:51] aviallon commented on #11
You are the bests. Thank you.

[2020-05-04 17:16] tpkessler commented on #130
See PR #152

[2020-05-04 17:16] #130 closed

[2020-05-04 17:17] tpkessler commented on #129
Great! I'll leave it open until the package is removed.

[2020-05-04 20:10] mighty9245 commented on #147
well, here is what i have:
![image](https://user-images.githubusercontent.com/52252283/81008938-6c19ff80-8e5c-11ea-9675-2230dcc0c003.png)

[2020-05-04 21:42] acxz commented on #147
Hmm weird indeed
also for reference please post the output in text form so we can search it instead of an image.

[2020-05-04 23:54] kode54 commented on #148
I was stating the place where it should be added as a direct dependency. I checked all libraries under `/opt/rocm`, and only the `comgr` library imports `z3`. Presumably because it static linked parts of llvm-amdgpu which also required this library.

I am only in a position to fork and file a pull request, so you'll have to wait for the repository to apply any particular solution.

[2020-05-05 00:04] kode54 commented on #147
I have removed those two packages from my system, and clinfo still works. I can send the clinfo output later, when I'm back in Linux.

[2020-05-05 12:00] mighty9245 commented on #147
i'm not sure if it's the cause, but as i said before, i was manually installing `rocm-opencl-runtime`, basically installing things as `makepkg` complained, here is the order:
[code]
workstation:~$ clinfo
Segmentation fault (core dumped)
workstation:~$ /opt/rocm/bin/x86_64/clinfo
Number of platforms:				 1
  Platform Profile:				 FULL_PROFILE
  Platform Version:				 OpenCL 2.0 AMD-APP.internal.dbg

[2020-05-05 16:40] ranisalt commented on #86
It was fixed with help of some comment I can't find now, sorry I forgot to come back.

[2020-05-05 21:31] s-bernard commented on #138
https://github.com/ROCm-Developer-Tools/HIP/tree/master/tests may help to test HIP.

[2020-05-05 22:24] acxz commented on #138
Ideally we would like to have tests in all of the packages, but we have been focusing on getting them building first. Now that rocm-dkms is building we should work on getting the tests working.

[2020-05-06 01:12] kode54 commented on #147
As I was about to say, `rocm-device-libs` is a make dependency of `comgr`, but not listed as a regular dependency. You may wish to check your packages for updates, as a semi-recent update to `llvm-amdgpu` disabled some dynamic libraries option, so the resulting `rocm-device-libs` and `comgr` should statically link the compiler bits they need now.

[2020-05-06 02:03] acxz commented on #147
Based on kode54's comment, @mighty9245 you seem to have outdated llvm-amdgpu and comgr versions. Please update them and try again. Instead of manually installing the packages, we recommend you use an AUR helper such as `yay`. Also the arch4edu is hosting binary versions of most of these pkgbuilds. See: https://wiki.archlinux.org/index.php/Unofficial_user_repositories#arch4edu

[2020-05-06 11:43] acxz commented on #129
We can now close this with:
3faa69f

[2020-05-06 11:43] #129 closed

[2020-05-07 17:34] acxz commented on #68
Thx for looking into this deeper, I see yeah if we can get a clean build with `git` instead of the patch that would be great.

[2020-05-07 20:00] mighty9245 commented on #147
looks like you forgot to update `rocm-device-libs` package on aur. it still has `llvm-roc` as make dependency, but `llvm-roc` doesn't exist as a package anymore. can't reinstall right now.
![image](https://user-images.githubusercontent.com/52252283/81339246-818a6600-90b6-11ea-9cb3-ddb90f65185b.png)

[2020-05-07 20:42] acxz commented on #147
See: https://github.com/rocm-arch/rocm-arch/issues/124

@ranisalt @neeshy can you guys take a look at this?

[2020-05-07 20:46] mighty9245 commented on #147
got you, won't it be a problem if i'll wait for sync and then reinstall all the stuff and report back about my issue?

[2020-05-08 05:55] HeroCC opened #154 "[rocm-device-libs] Missing required package llvm-roc"
I saw some discussion elsewhere about packages not being synced, so apologies if this is already known. Nonetheless, I tried to install `rocm-opencl-runtime` just now, and was unable to, it looks like `rocm-device-libs` depends on the package `llvm-roc`, which doesn't exist anywhere I can find it. Any support would be greatly appreciated, thank you!

[2020-05-08 05:58] HeroCC commented on #154
Did a bit more searching, looks like this was fixed in #142, but hasn't been synced to the aur yet (#124).

[2020-05-08 05:58] #124 closed

[2020-05-08 06:01] ranisalt commented on #147
rocm-device-libs has been updated

[2020-05-08 06:01] #147 closed

[2020-05-08 06:01] ranisalt commented on #154
I just synced it :P

[2020-05-08 06:01] #154 closed

[2020-05-08 06:02] HeroCC commented on #154
Great turnaround :sweat_smile:, thank you!

[2020-05-08 06:03] ranisalt commented on #154
Always a pleasure :laughing:

[2020-05-08 06:06] ranisalt commented on #148
You are right. I removed the `llvm-amdgpu` package together with `z3` and `clinfo` broke. Then, I installed `z3` and it worked again, even without `llvm-amdgpu`.

[2020-05-08 06:09] ranisalt commented on #148
Please update `comgr` and report back.

[2020-05-08 16:42] s-bernard commented on #138
I successfully pass the reduction test. For that, I replaced the compiled `/opt/rocm/hip/lib/libhip_hcc.so.3.3.XXX` by `libhip_hcc.so.3.3.30300` from ubuntu package, add some symlinks and it works.

[2020-05-08 17:07] helfio commented on #138
@s-bernard I can reproduce it. Isn't it weird?

[2020-05-08 17:11] helfio commented on #138
Now the initial error thrown by tensorflow-rocm is different:

[2020-05-08 19:16] tildearrow opened #156 "[llvm-amdgpu] ...what? Backslashes?"
I cannot compile llvm-amdgpu because there is a Windows backslash somewhere:

[code]

I've been searching the code for any backslashes but I couldn't find any...

[2020-05-08 19:53] s-bernard commented on #138
How to  check ROCr: https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/93

[2020-05-08 19:55] s-bernard commented on #138
@helfio so you replaced the libhip_hcc to get the new error?

[2020-05-08 22:23] acxz commented on #156
I kinda have a feeling that your `GL` directory is messed up.
Can you show the output of `pacman -Qo /usr/include/GL*/*`
and `pacman -Qo /usr/include/GL*\\*`?

[2020-05-08 22:36] tildearrow commented on #156
Sure.

`pacman -Qo /usr/include/GL*/*`:
[code]
`pacman -Qo /usr/include/GL*\\*`:
[code]

Apparently it looks fine.

[2020-05-08 22:40] tildearrow commented on #156
While checking for this, I found a file that looked odd: `/usr/include/GLglew.h` and wasn't owned by any packages.
However, the problem persists after removing it.

Wait, I found another file called `/usr/include/GL\glew.h` (yes, with a backslash in its name). I remember adding this symlink out of rage 2 years ago when I was trying to compile a project that used backslashes in an include directive

[2020-05-08 22:40] #156 closed

[2020-05-08 22:42] s-bernard commented on #138
OK, I have something really weird.

I have installed ROCm from ubuntu binaries (*-bin packages are coming) and I get the exact same bug on reduction. If I run it in ubuntu docker, it is just working.

Then, I install ROCm from source, I get the bug. But if I switch `libhip_hcc.so` with the one in ubuntu package, then it works.

So full ubuntu, not working, full from source, not working, but `libhi

[2020-05-08 22:51] s-bernard commented on #138
Just to be sure, I’ve just tested "full from ubuntu expect `libhip_hcc.so` from source". Same results as full ubuntu.

[2020-05-08 23:00] acxz commented on #156
Glad you got it working!

[2020-05-09 00:16] kozross commented on #148
Seems to be fixed now - ``z3`` is now pinned to ``comgr`` and can't be removed without also removing ``comgr``.

[2020-05-09 00:32] mighty9245 commented on #147
ok, i reinstalled all the stuff, moved all the things except `rocm-opencl-runtime` to dependencies and uninstalled unneeded and everything works now. thanks!

btw, thank you for all your job on rocm stack. you're doing really great job for all lazy people who just want to install things and get them running like me :)

[2020-05-09 05:48] ranisalt commented on #148
@kozross I also learned that comgr requires z3 at runtime, and is linked against it, so it was a mistake.

[2020-05-09 05:48] #148 closed

[2020-05-09 12:45] s-bernard commented on #138
OK I get it!

I’m pretty sure the problem lies in this part of package building:
[code]

It transforms libhip_hcc.so.3.3.30300, stripping some part:
[code]

With the first, `result is CORRECT`, the second `result is INCORRECT!!`.

It surely has the same effect on our compiled version.

[2020-05-09 15:45] helfio commented on #138
Yes, that's it.

[2020-05-09 16:48] s-bernard commented on #138
#153 includes the fix for the reduction test. However, I still cannot make the HIP tests pass like on ubuntu, even by using the exact same libraries.

[2020-05-10 05:50] acxz commented on #27
closing this issue since no one is really keeping up with it and I think we should only have 1 AUR maintainer anyways responsible for the syncing.

[2020-05-10 05:50] #27 closed

[2020-05-10 17:55] helfio commented on #138
Nice! I'll give it a try when it's merged.

BTW, is #157 realted to this some how?

[2020-05-11 09:55] pepper-jk opened #161 "[rocm-libs] installation fails"
[code]

[2020-05-11 13:50] s-bernard commented on #138
Not really

[2020-05-11 21:29] s-bernard commented on #138
New set of tests that pass. Use `LD_PRELOAD="/opt/rocm/hsa/lib/libhsa-ext-image64.so.1.1.30300`.
https://github.com/ROCm-Developer-Tools/HIP/issues/2078

[2020-05-12 16:19] tpkessler commented on #161
`rocalution` hasn't been updated to 3.3.0 yet. But I'm working on it.

[2020-05-12 18:17] helfio commented on #138
Well, now I get an slightly different output:

Now it's able to do some computing, but the error still arises from the same package: tensorflow_core/python/client/session.py

[2020-05-12 18:28] naetherm commented on #138
I don't think that's really an issue with Rocm but with the processing.
The first line indicates that the loss is of type NaN:
3705/5700 [==================>...........] - ETA: 18s - loss: nan

[2020-05-12 19:20] s-bernard commented on #138
On the reduction test, if stripping --non-needed is used, ROCm gives bad results, not a clear error. So in this case, it may definitely be ROCm.
Until HIP passes its tests, it is useless to try to make tensorflow or pytorch work.

I’m giving up on trying to make ROCm 3.3 to work on Arch. Each time I find a new fix, I get new errors. I’ll wait until there is an Ubuntu 20.04 support, it is not worki

[2020-05-14 00:16] JorisBlanken opened #164 "[rocblas] LLVMConfig.cmake missing"
When building rocblas I'm getting:
[code]

Cannot find LLVMConfig.cmake nor llvm-config.cmake on system, is there a missing dependency?

[2020-05-14 13:18] cdarken commented on #55
I propose to close this, as it appears not to be an issue on the current kernel shipped with Arch Linux.

[2020-05-14 13:23] rigred commented on #55
Affirmative on closing
I also outlined the same issue here
https://github.com/rocm-arch/rocm-arch/issues/29

[2020-05-14 13:25] rigred commented on #55
So far the in-kernel module is only missing IPC and RDMA capabilities which are not yet enabled.
But I'm seeing those being worked on so fully expect rock-dkms to get deprecated at some stage.

[2020-05-14 13:25] #55 closed

[2020-05-14 21:56] imyxh opened #165 "[rocm-opencl-runtime] multiple definition of ret_val"
Hi, I'm not sure if this is an issue with the AUR packages, or if it's with ROCm, or if I'm just doing something wrong. I installed, in the following order:
[code]
With versions:
[code]
Yet I still get the following error in compiling rocm-opencl-runtime:
[code]
It looks like the linker might be complaining about ret_val being defined globally in multiple files?
![image](https://user-images.github

[2020-05-14 22:19] acxz commented on #165
Hey @imyxh thx for the report! Also just for future reference if you could post code blocks in text instead of pictures that would be much appreciated. It makes it easier to search things.

Also if you are not developing on the PKGBUILDs we recommend to just use the PKGBUILDs from the AUR using an AUR helper. You can also use the arch4edu repository which hosts many of these packages in binary mak

[2020-05-14 22:23] acxz commented on #165
hmm I can't seem to reproduce it, lets keep this issue open until others have had a chance reproduce it.

[2020-05-15 04:10] imyxh commented on #165
To rule out any effect from external packages, the state of my system, etc, I just reproduced this on a LXC system. Steps:

1. Create an [Linux container](https://wiki.archlinux.org/index.php/Linux_Containers) with the archlinux/current/amd64 downloaded image;
2. install git and the base-devel group;
3. create a user and give them sudo permissions;
4. install falconindy's [auracle](https://github.

[2020-05-15 04:47] imyxh commented on #165
Update: interestingly enough, I can actually reproduce this on the container by installing the master branch of ROCm-OpenCL-Runtime straight from git, following AMD's own instructions....

Does my system have a curse that also applies to any containers I create? Perhaps I'll file an issue upstream and see if they can help. @acxz, feel free to close this issue if that's what you think is best. I ca

[2020-05-15 06:30] tpkessler commented on #164
Hey @JorisBlanken, you're right. `rocblas` needs `llvm-amdgpu`. Could you please try the updated PKGBUILD from PR #158? I got it compiled in a clean chroot. Attention: You need a lot of RAM, around 50 - 60 GB, see https://wiki.archlinux.org/index.php/swap#Swap_file on how to create a swapfile.

[2020-05-15 12:02] acxz opened #166 "Packages to sync"
- [ ] rocprim
- [ ] rocthrust
- [ ] rocfft
- [ ] rocrand

[2020-05-15 13:20] rigred commented on #64
I've got a full build log here for rocm-validation-suite
It fails due to wrong include directives among a few other issues.
My rocblas though builds and installs fine.

[rocm-validation-suite.2020-05-15_1520.log](https://github.com/rocm-arch/rocm-arch/files/4634593/rocm-validation-suite.2020-05-15_1520.log)

[2020-05-15 16:45] iskur opened #167 "[hcc] missing cstdlib in Shutdown.cpp prevents compilation"
The file "llvm-project-roc-hcc-3.3.0/clang-tools-extra/clangd/Shutdown.cpp" is missing a:

`#include <cstdlib>`

Without it compilation fails for me with:

[2020-05-15 17:06] petronny opened #168 "Errors when building ROCm 3.5.0 in clean chroots"
- [x] [rocclr](https://github.com/rocm-arch/rocm-arch/issues/168#issuecomment-641786043) (with #245)

- [x] rocm-dkms
    - [x] [rock-dkms-bin](https://github.com/rocm-arch/rocm-arch/issues/168#issuecomment-648612049)
        - [x] [rock-dkms-firmware-bin](https://github.com/rocm-arch/rocm-arch/issues/168#issuecomment-647272682)
    - [x] rocm-dev
        - [x] rocm-debug-agent
            - [x] [

[2020-05-15 17:08] petronny commented on #168
Build log for `hipblas`:
[code]

[2020-05-15 17:09] petronny commented on #168
Build log for `hipcub`:
[code]

[2020-05-15 17:12] petronny commented on #168
Build log for `rocblas`:
[code]

[2020-05-15 17:13] petronny commented on #168
Build log for `rocfft`:
[code]

[2020-05-15 17:15] petronny commented on #168
Build log for `rocprim`:
[code]

[2020-05-15 17:15] petronny commented on #168
Build log for `rocrand`:
[code]

[2020-05-15 17:16] petronny commented on #168
Build log for `rocsparse`:
[code]

[2020-05-15 17:17] petronny commented on #168
Build log for `rocthrust`:
[code]

[2020-05-15 17:26] petronny commented on #168
Some of them say missing git.
But using git in a tarball won't return results as expected.
And it may causing errors like those fixed by the 99999 patch.
Please determine if the git source is needed for each case.

[2020-05-15 17:37] petronny commented on #168
A quick way to reproduce these errors is building them with `arch4edu-x86_64-build` in the `devtools-arch4edu` package located in the arch4edu repository.
AUR dependencies can be solved if they are in the arch4edu repository.
No parameter needed. Just use it like `makepkg`.
In most cases, it should work like `extra-x86_64-build` which is the most official way.
But `extra-x86_64-build` needs a lot

[2020-05-16 09:05] tpkessler commented on #168
Hi @petronny, do you use the PKGBUILDs from the AUR? I'm currently working on getting `rocm-libs` compiled in a clean chroot. Some of those were already merged by @acxz but haven't been synced to the AUR so far. The following packages should work if you use the script from the repo:

* rocprim
* rocthrust
* rocrand
* rocfft

[2020-05-16 14:08] acxz commented on #168
@tpkessler pretronny is the maintainer for arch4edu he is taking our pkgbuilds from the AUR and providing binary packages for us on arch4edu. To maintain the consistency  of the pkgbuilds he only takes from the AUR and not other sources.

[2020-05-16 14:08] acxz commented on #161
Closing this issue in favor of #168

[2020-05-16 14:08] #161 closed

[2020-05-16 15:01] farnoy commented on #166
I no longer have access to these packages, unassigning.

[2020-05-16 15:06] acxz commented on #166
Ah sorry about that, I assigned it to you because you were listed as a co-maintainer for rocprim and rocthrust.

[2020-05-16 18:35] ranisalt commented on #166
I don't have access too. I don't know who is responsible for that, but I keep getting added and removed from the maintainer list and this is spamming my inbox, so I would be so happy if that kindly stopped.

![image](https://user-images.githubusercontent.com/1993083/82127548-f68b2900-97a3-11ea-95fb-2865282648be.png)

[2020-05-16 19:52] acxz commented on #166
Weird the AUR package states that you are a co-maintainer for the rocprim and rocthrust packages.

[2020-05-16 23:19] ranisalt commented on #166
Wait, but why did I receive messages telling "you were removed"? That's confusing.

Published all of them

[2020-05-16 23:19] #166 closed

[2020-05-17 00:33] acxz commented on #168
@petronny thx so much for bearing with us, the following packages have just been synced
- `rocprim-3.3.0-2`
- `rocthrust-3.3.0-4`
- `rocfft-3.3.0-1`
- `rocrand-3.3.0-2`
If you could post the updated status of these that would be great.

[2020-05-17 00:34] acxz commented on #167
hmm interesting indeed, let me try a rebuild rq

[2020-05-17 15:10] tpkessler commented on #167
I can reproduce the error:

[code]

[2020-05-18 03:00] petronny commented on #168
We have `rocprim` now.

I just update the build configuration for `rocthrust`, `rocfft` and `rocrand` to build with their new dependencies. I'll update their status tomorrow.

[2020-05-18 14:51] zack-ashen opened #173 "[hipsparse] Requires hip >= 3.30 however hip 3.30 is installed..."
Firstly, thank you so much for this project. It has been extremely helpful. However, when attempting to install hipsparse or rocm-libs it fails immediately with `hipsparse requires hip >= 3.30`. However, when I run `./hipcc --version` it returns: `HIP version: 3.3.20195-`.

[2020-05-18 15:19] tpkessler commented on #173
Hi @zack-ashen, thank you for kind words. `rocm-libs` is work in progress at the moment but you can get working packages from the PRs I've opened. For `hipblas` you may try PR #163. It hasn't been merged yet as we working on `rocblas` at the moment, see #158.

[2020-05-19 05:26] petronny commented on #168
`rocthrust`, `rocfft` and `rocrand` are fixed.

[2020-05-19 12:08] acxz opened #174 "Packages to sync"
- [x] rocblas

[2020-05-19 13:15] zack-ashen commented on #173
Thanks so much! I was able to get `hipblas` install from your PR. However, still struggling with `rocblas` and the rest of `rocm-libs`. Guess I'll just have to wait for more development... This project is really great though I can't wait to have Tensorflow finally running.

[2020-05-19 13:15] #173 closed

[2020-05-19 16:40] #174 closed

[2020-05-19 22:48] cheesinglee opened #175 "[rocsparse] requires rocprim as dependency"
Trying to build 3.3.0-1, I get this configure error:

[code]

If I build and install rocprim first, rocsparse builds and installs correctly. I don't really understand the rocm stack well, so I don't know if it is more appropriate to add rocprim to `depends` or `makedepends`. If someone tells me, I can submit a PR.

[2020-05-20 06:36] tpkessler commented on #175
Hi @cheesinglee! The packages in `rocm-libs` are still  work in progress. I submitted PR #160 for `rocsparse` with which I'm able to build `rocsparse` in a clean chroot.

[2020-05-20 11:09] acxz opened #176 "Packages to Sync"
- [ ] rock-dkms

[2020-05-20 19:50] chiboreache opened #177 "[llvm-amdgpu] Error during build llvm-amdgpu"
Arch Linux
aur `rocm-dkms 3.1.0-1`

`Command 'makepkg --force' failed to execute.`

tried build with -DLLVM_TARGETS_TO_BUILD= X86 and X86-64

---------

<details>
  <summary>Error</summary>

[code]
</details>

[2020-05-20 22:57] chiboreache commented on #177
this is got fine somehow `~_~`

<img width="631" alt="Screenshot_20200521_015052" src="https://user-images.githubusercontent.com/16459251/82505425-5ec06e80-9b06-11ea-9a31-b8d77d171141.png">

[2020-05-20 22:57] #177 closed

[2020-05-20 23:32] acxz commented on #177
Interesting glad to see it worked tho!

[2020-05-21 13:32] rigred commented on #177
@chiboreache Are you 100% sure your system is fully stable?
Randomly failed compiles can be a symptom of unstable CPU or RAM, or a bad overclock.
I have experienced this myself on a 1700X with unstable ram.

[2020-05-21 17:10] chiboreache commented on #177
@rigred yeah, you are just right man!

my power supply 12 y.o and i bought a shiny red 5700XT _for my fx8320E 4.1 GHz OC_ just a week ago -- my hdd's already stopped working lol

[2020-05-21 23:18] acxz commented on #176
Sorry to ping @ranisalt again but you mind syncing these packages? I would like to resolve #168 asap

[2020-05-22 15:14] ranisalt commented on #176
My computer has bricked and I can't use it now.

[2020-05-22 15:21] acxz commented on #176
Oh noo

[2020-05-22 15:50] acxz commented on #176
If you have internet access do you think you add me as a comaintainer on those packages?

[2020-05-24 07:18] petronny commented on #168
`rocblas` is almost fixed. But it seems that it fails at the final step.
Please check the build log above.

[2020-05-30 14:17] tpkessler commented on #168
I've no idea what's going wrong. ROCm 3.5.0 should be released soon,

https://github.com/RadeonOpenCompute/ROCm-CompilerSupport/releases

Maybe we should wait for the new release and focus on upgrading the packages asap instead of wasting time and energy on fixing 3.3.0.

[2020-05-31 01:38] darkstego opened #178 "[hipsparse] build fails"
The following are problems with hipsparse PKGBUILD:

- `"hip>=$pkgver"` dependency provides an error.

- `make DESTDIR="$pkgdir" install` needs to be used instead of `make install`

- line `cp -r "$srcdir/build/opt" "$pkgdir/"` refers to a directory that doesn't exist

In addition, the build depends on `rocsparse-config.cmake`. In that file the line `find_dependency(hip)` causes a search for Findh

[2020-05-31 12:56] acxz commented on #176
@naetherm @neeshy since it seems like you guys do not have the time to maintain the packages, can you transfer the ownership of the packages over to me? rocm 3.5.0 is around the corner and I would like to get these packages out as soon as possible.

[2020-06-01 14:27] pepper-jk commented on #178
Can confirm the hip dependency issue:

[code]

Even after #161 was fixed.

So you got it to work with the workarounds described above?
What did you do for the dependency? Just delete the it from the PKGBUILD?

See also #168.

[2020-06-01 14:50] rigred commented on #178
The dependency issue appears to be one caused by bad version check practices
It's first redeclaring the pkgver variable into a _pkgver value and then matching against the quoted string. But also hip is a metapackage now and so checking if `hip>=$pkgver` will fail.
It needs to be changed to hip-hcc.

I'll fix this now.

![image](https://user-images.githubusercontent.com/5716332/83419950-300b9780-a4

[2020-06-01 14:53] rigred commented on #178
hip just needs to be renamed to hip-hcc since hip is a metapackage and cannot be used as a dependency check with a version.

[2020-06-01 15:08] pepper-jk commented on #178
And it is changed in this repo, but not in the AUR:

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=hipsparse#n9

[2020-06-01 15:10] rigred commented on #178
There's also a further issue of a the Cmake looking for `Findhip.cmake` but the hip-hcc package includes a capitalized FindHIP.cmake.
Creating a lowercase copy solves this temporarily. However the issues comes in due to some package defining a lowercase HIP as a search name instead capital

[code]

[2020-06-01 15:21] rigred commented on #178
The problem likely lies within `cmake/Dependencies.cmake`
![image](https://user-images.githubusercontent.com/5716332/83423979-09e8f600-a42c-11ea-9a85-6b023339ce66.png)

Changing hip to HIP also solves it.
But this likely means that actually the FindHIP.cmake file in hip-hcc should be called Findhip.cmake

[2020-06-01 15:26] rigred commented on #178
And now I can no longer get it to fail even after returning the original configuration...
I have no idea why, but now it works, even when it shouldn't????

[2020-06-01 15:28] rigred commented on #178
I'm pinning this onto some sort of really strange build issue with yay.
Try completely wiping `~/.cache/yay/rocsparse` and building clean.

[2020-06-01 15:30] rigred commented on #178
Nevermind I was being stupid and was looking at `rocsparse` ....

[2020-06-01 15:34] pepper-jk commented on #178
Even after

[code]

and changing to HIP in `cmake/Dependencies.cmake`.

I still have issues building rocsparse from this repo. The aur version is out of date and does install fine, but does not seem to be compatible with the hipsparse from this repo.

Any idea what this is complaining about?

I assume its a dependency that is out of date in the AUR as well, but I don't really want to install every

[2020-06-01 15:43] rigred commented on #178
@pepper-jk Ignore that for now.
rocsparse will build 100% correctly as of now if the rest of your rocm stack is correctly installed.
In your case your compiler and something else is just totally broke so you need to fix that first by installing your packages correctly again.

hipsparse though still has problems, (I was first confused and looking at rocsparse for issues)

[2020-06-01 16:34] pepper-jk commented on #178
Is there a correct order in which to install the packages?
And do I need to install them all?

[2020-06-01 16:37] pepper-jk commented on #178
Well if I try to build hipsparse (with rocsparse installed from AUR), I get this:

[code]

[2020-06-01 16:44] pepper-jk commented on #178
And if I just change change `find_dependency(hip)` to `find_dependency(HIP)` in `/opt/rocm/rocsparse/lib/cmake/rocsparse/rocsparse-config.cmake` I still get:

<details><summary>output</summary>
<p>

[code]

</p>
</details>

[2020-06-01 16:58] tpkessler commented on #178
@pepper-jk: Do you use the PKGBUILDs from the AUR? They are outdated. The updated scripts haven't been synced yet #176 With these PKGBUILDs I was able to build all `rocm-libs` in a clean chroot.

[2020-06-01 17:04] pepper-jk commented on #178
Yes, I use "everything" from the AUR except hipsparse.
As stated about I would like to avoid installing everything by hand tbh.
But if I need to I will do so.

[2020-06-03 16:09] tpkessler opened #179 "ROCm 3.5.0 released"
From https://github.com/RadeonOpenCompute/ROCm:

Unfortunately there's no support for Ubuntu 20.04, so not for `glibc 2.31`. Let's see how far we come with the new ROCm stack.

How should be proceed? I suggest we should start with `hsakmt-roct`, `hsa-rocr`, `comgr` and alike as they are needed for nearly all other package. In a second step we should update the opencl-runtime (which is buggy for me

[2020-06-03 20:38] acxz commented on #179
I think that sounds like a great plan, as you can prob tell I have been busy with other projects these days and haven't been able to spend as much time as I would like to on rocm-arch.

[2020-06-03 20:53] acxz opened #180 "[rocm-opencl-runtime] out of date"
This package is out of date.

Flagged by @Megacubo on AUR

[2020-06-04 17:19] tpkessler commented on #180
Fixed with #189

[2020-06-04 18:11] tpkessler commented on #179
I was able to compile the new OpenCL runtime, #189 . In contrast to what AMD say in their release notes, `clinfo` shows version 2.0, not 2.2.
In addition, we now have the new `hip-rocclr` which works fine for the  examples I tried.

What's missing now are `rocm-libs`. Updating them should be straightforward:
* Update sources, checksums
* Remove `hcc` dependency and compile with the new `hipcc` fro

[2020-06-05 05:09] naetherm commented on #179
Amazing work @tpkessler , as @acxz I'm also a bit busy these days.
Should we maybe add a checkbox-list of all libraries, already ported libraries can be checked or when the task of porting to 3.5.x takes a bit longer one can flag those package by his/her username so there are not two people working on the same package?

[2020-06-05 05:22] ranisalt commented on #176
I have given you access to the packages I own. You can push them all now, I should have access to a new computer with a Radeon GPU by Monday so I will return contributing to the organization.

Also, note that what you did is against the rules of the AUR, you should only request orphan/deletion of a package after a two weeks notice. You might get flagged as a spammer if you repeat.

@naetherm is mi

[2020-06-05 05:29] naetherm commented on #176
Gave you access to the packages I own too.

[2020-06-05 06:50] ranisalt commented on #176
Hello :rofl:

[2020-06-05 06:52] naetherm commented on #176
Have I missed you? (Sorry, first coffee in the morning if that's the case ;) )

[2020-06-05 07:33] ranisalt commented on #176
No, but we have missed you hahaha my access is fine.

[2020-06-05 12:02] tpkessler commented on #179
Thank you @naetherm. We should create a separate issue for every remaining package and group those in a milestone. Then we can assign work to everybody and monitor the progress we make.

[2020-06-05 12:03] tpkessler commented on #164
Solved with #158

[2020-06-05 12:03] #164 closed

[2020-06-05 12:04] tpkessler commented on #175
Solved with #160

[2020-06-05 12:04] #175 closed

[2020-06-05 12:06] tpkessler commented on #167
`hcc` is deprecated and will be removed from this repo and the AUR #191 . `llvm-amdgpu` in combination with `hip-rocclr` is the new way in ROCm 3.5.0 to compile the code.

[2020-06-05 12:06] #167 closed

[2020-06-05 15:50] acxz commented on #176
Thank you guys so much!

[2020-06-05 16:31] #165 closed

[2020-06-05 16:33] acxz commented on #180
@tpkessler I had some problems syncing since @ranisalt had pushed a commit to the AUR package without going through this repo. The simplest and easiest solution was for me to remove rocm-opencl-runtime and pull in the AUR remote. Could you resubmit a PR for upgrading this package?

Sorry about that.

[2020-06-05 16:51] tpkessler commented on #180
No problem @acxz. I've resubmitted the OpenCL runtime package.

[2020-06-05 20:54] ruben2000de opened #195 "[hsa-rocr] Build error"
I'm building on manjaro via AUR and getting this error:
https://aur.archlinux.org/packages/hsa-rocr/
(sorry, my system is speaking german)

[ 56%] Building CXX object CMakeFiles/hsa-runtime64.dir/core/runtime/intercept_queue.cpp.o
[ 59%] Building CXX object CMakeFiles/hsa-runtime64.dir/core/runtime/ipc_signal.cpp.o
/var/tmp/pamac-build-user/hsa-rocr/src/ROCR-Runtime-rocm-3.5.0/src/core/runtime/amd

[2020-06-05 21:01] acxz opened #196 "[rock-dkms-git] out of date"
This package has been flagged out of date by @Epdfjasfvzp

[2020-06-05 21:31] acxz commented on #195
Thx for the report @ruben2000de Before digging into this I would like to point out that we do not support Manjaro, we only support Arch-based distros which have repo compatibility with Arch, such as [EndeavourOS](https://endeavouros.com/).

[2020-06-05 21:38] ruben2000de commented on #195
already thought something linke that. Thats because I first commented the AUR package. Maybe a pro-user but not a maker here.

[2020-06-05 23:29] acxz commented on #64
@exzombie @rigred The package has been updated to `3.6.0-1` can you guys update the build logs?

[2020-06-05 23:34] #176 closed

[2020-06-05 23:45] kozross opened #197 "[llvm-amdgpu] Run out of memory when compiling"
Whenever I try to compile this package, I get an out of memory, similar to this:

[code]

Turning parallelism off in my `makepkg.conf` doesn't fix this. I have 32GB of RAM available on my machine, and have not encountered this problem before.

[2020-06-05 23:54] acxz commented on #197
Can you give us the complete build log and post it on a gist?

[2020-06-06 03:10] kozross commented on #197
[Here's a log](https://github.com/rocm-arch/rocm-arch/files/4739288/llvm-amdgpu-3.5.0-1-x86_64-build.log.zip). This was made by ``makepkg -srL``.

[2020-06-06 03:50] acxz commented on #197
Thx for the log but can U unzip or post the contents directly. Kinda inconvenient to view as a zip file

[2020-06-06 06:45] noradtux commented on #197
I am experiencing the same issue, also 32GiB of RAM.
Console output, building through pikaur:
https://gist.github.com/noradtux/56fef275a3777f02d12c003c1eac3694

[2020-06-06 09:41] NorthSailor commented on #197
Same, even though with just 16 GiB of RAM, however it also fills the entire 16 GiB swap partition.
Single-threaded compilation doesn't seem to make a difference.

[2020-06-06 11:30] agravgaard commented on #197
I was getting the same issue, after the first run I just changes the `-j$THREADS` in the makeflags to a more appropriate number, which worked well for me.
The linking starting at around 85% completion required about 4-5 GB of ram per thread.
I have an 8 thread CPU and only 24 GB of RAM and about 9 GB in swap.

[2020-06-06 12:36] acxz commented on #180
thx! synced and closed

[2020-06-06 12:36] #180 closed

[2020-06-06 12:54] pepper-jk commented on #197
Thanks for the info. Ran into the same issue this morning. 32GB RAM and 12 thread CPU. Tried with 12 (all), 10 and 6 threads already. Always froze/locked around 98%, even with nothing else open. I will now run it on 3 threads and hope it does not need more than 15 GB, so that I can work normally during the compilation.

I really appreciate the multi threaded compiling, since most AUR packages just

[2020-06-06 13:23] tpkessler opened #204 "README for project"
We miss a README for the repository. It may serve as a sandbox for the ArchWiki entry we have to write. It should contain:

- [x] A short summary of the packages hosted here as well as a quick start guide, similar to @acxz 's PR to the ROCm repository: https://github.com/RadeonOpenCompute/ROCm_Documentation/pull/73
- [x] Warnings: `llvm-amdgpu` and `rocblas` need a lot of RAM and disk space: Use a

[2020-06-06 13:24] tpkessler opened #205 "[hip-nvcc] Update to 3.5.0"

[2020-06-06 13:24] tpkessler opened #206 "[hipblas] Update to 3.5.0"

[2020-06-06 13:24] tpkessler opened #207 "[hipsparse] Update to 3.5.0"

[2020-06-06 13:25] tpkessler opened #208 "[miopen] Update to 3.5.0"

[2020-06-06 13:25] tpkessler opened #209 "[miopengemm] Update to 3.5.0"

[2020-06-06 13:25] tpkessler opened #210 "[mivisionx] Update to 3.5.0"

[2020-06-06 13:27] tpkessler opened #211 "[rccl] Update to 3.5.0"

[2020-06-06 13:37] tpkessler opened #212 "[rocalution] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #213 "[rocblas] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #214 "[rock-dkms-git] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #215 "[rock-dkms] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #216 "[rocm-bandwidth-test] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #217 "[rocm-dev] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #218 "[rocm-libs] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #219 "[rocm-smi-lib64] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #220 "[rocm-smi] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #221 "[rocm-utils] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #222 "[rocm-validation-suite] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #223 "[rocminfo] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #224 "[rocprofiler] Update to 3.5.0"

[2020-06-06 13:38] tpkessler opened #225 "[rocr-debug-agent] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #226 "[rocthrust] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #227 "[roctracer] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #228 "[aomp-amdgpu] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #229 "[atmi] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #230 "[migraphx] Update to 3.5.0"

[2020-06-06 13:39] #226 closed

[2020-06-06 13:39] tpkessler opened #231 "[rocm-clang-ocl] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #232 "[hsa-amd-aqlprofile] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #233 "[rocsolver] Update to 3.5.0"

[2020-06-06 13:39] tpkessler opened #234 "[rock-dkms-bin] Update to 3.5.0"

[2020-06-06 13:40] #214 closed

[2020-06-06 13:45] tpkessler commented on #179
I've opened a separate issue for every package not updated to 3.5.0 yet and organized them in a milestone. Some of them are assigned to me. Which one will you choose @acxz , @naetherm , @rigred , @ranisalt , @farnoy ?

[2020-06-06 14:17] pepper-jk commented on #204
Another Warning:
`llvm-amdgpu` needs >50GB free disk space during build

It just crashed on me at 98%. -.-

[2020-06-06 14:25] pepper-jk commented on #197
Another Warning:
`llvm-amdgpu` needs >50GB free disk space during build

It just crashed on me at 98%. -.-

_Originally posted by @pepper-jk in https://github.com/rocm-arch/rocm-arch/issues/204#issuecomment-640067921_

[2020-06-06 14:40] acxz commented on #204
@tpkessler these are all really great points that we need to document. However I do not think a README is the best approach. This repo is a temporary one until these rocm packages get placed into the official repositories. In any case documentation should go in the ArchWiki under the [ROCm](https://wiki.archlinux.org/index.php/GPGPU#ROCm) section: https://wiki.archlinux.org/index.php/GPGPU#ROCm

I

[2020-06-06 14:46] tpkessler commented on #204
@pepper-jk Thanks for your hint. That's also what I observe. After building `llvm-amdgpu` I always immediately delete the `src` and `pkg` dirs.

[2020-06-06 14:47] acxz commented on #179
I choose Pikachu haha, jk I can take care of some today.

[2020-06-06 14:48] tpkessler commented on #204
@acxz I totally agree with you. My idea was that we use the README as a sanbox for the ArchWiki entry.

[2020-06-06 14:56] acxz commented on #215
This package will soon be deleted and deprecated by rock-dkms-bin until someone figures out how to build rock-dkms from source.

[2020-06-06 14:56] #215 closed

[2020-06-06 14:57] acxz commented on #217
updated the dependencies for the metapackage to the 3.5 version

[2020-06-06 14:57] #217 closed

[2020-06-06 14:58] acxz commented on #218
Metapackage has been updated with the 3.5 deps
Sorry for taking this one, but went ahead and did this before seeing your assignment on it

[2020-06-06 14:58] #218 closed

[2020-06-06 14:59] acxz commented on #219
rocm-smi-lib has been deprecated in favor of rocm-smi-lib64. Relevant AUR deletion request has been filed.
rocm-smi-lib64 has been updated to 3.5

[2020-06-06 15:00] #219 closed

[2020-06-06 15:00] acxz commented on #221
PKGBUILD has been reorganized and version changed to 3.5

[2020-06-06 15:00] #221 closed

[2020-06-06 15:01] acxz commented on #222
This package has a 3.6 version already and has been updated.

[2020-06-06 15:01] #222 closed

[2020-06-06 15:01] acxz commented on #234
package has been updated

[2020-06-06 15:01] #234 closed

[2020-06-06 15:04] acxz commented on #228
This package has been deprecated in favor of aomp-amdgpu. Relevant AUR deletion request has been filed.

aomp-amdgpu has been updated to 3.5

[2020-06-06 15:04] #228 closed

[2020-06-06 15:07] acxz commented on #225
rocr-debug-agent has been deprecated in favor of rocm-debug-agent. Relevant AUR deletion request has been filed.

rocm-debug-agent has been updated to 3.5

[2020-06-06 15:07] #225 closed

[2020-06-06 15:10] acxz commented on #224
done

[2020-06-06 15:10] #224 closed

[2020-06-06 15:21] acxz commented on #204
hmm I see the point in that, and it is much easier to work on the markdown format on Github than the Arch Wiki.

Okay then yeah let's work on the README in this repo and once we feel like it is ready enough (or once we reach the ROCm 3.5 milestone) we can have someone move the README information over to the relevant Arch Wiki entry.

For the readme since it doesn't involve syncing to the AUR feel

[2020-06-06 16:03] acxz commented on #227
Done

[2020-06-06 16:03] #227 closed

[2020-06-06 16:23] acxz opened #237 "[rocm-dbgapi] Update to 3.5.0"

[2020-06-06 16:24] acxz opened #238 "[rocm-gdb] Update to 3.5.0"

[2020-06-06 16:39] tpkessler commented on #204
I've pushed the first version of the README. Please feel free to improve it.

[2020-06-06 18:22] kozross commented on #197
@agravgaard How do you disable parallelism? I tried removing ``-j11`` from my ``MAKEFLAGS`` in makepkg.conf``, but that did nothing for me.

@acxz Sorry, [is this better](https://gist.github.com/kozross/a13d7824c212225e7170ec4256781ce5)?

[2020-06-06 18:35] noradtux commented on #197
@kozross You need to edit the PKGBUILD, it has its own config for parallelism.
Disabling parallelism made the build work for me.

[2020-06-06 18:40] kozross commented on #197
@noradtux This is a bad configuration then IMHO. This isn't something that a PKGBUILD should decide for the user - deferring to our own MAKEFLAGS is the proper behaviour.

[2020-06-06 20:32] acxz commented on #197
@kozross I sort of agree with you. This actually came up a long time back See: the issue #43 which this is a duplicate of and the attempted PR #58

In lieu of this we can and should revisit this issue.
Pinging @rigred since he was involved in closing the issue/PR and @ranisalt since he participated in the discussions as well.

[2020-06-06 20:34] acxz commented on #43
@rigred it seems like this issue is still relevant. Instead of reopening this one, we will just continue the conversation at the above mentioned issue.

[2020-06-06 20:38] pepper-jk commented on #197
A small update regarding the disk space.

My room mate tried to build it on his machine and 120GB of free disk space was not enogh.

He was able to build and check, but during installation his disk space ran out.

Is this considered normal? o.O

[2020-06-06 20:41] noradtux commented on #197
I noticed, this llvm is being build using make while Arch's llvm-package is using ninja to build it. Maybe make isn't fully supported anymore?

[2020-06-06 20:48] t1nux commented on #197
I can' believe it's disk space that running out. I have 693 GB free and it's failing at 98%: https://pastebin.com/NfYjpPi3

[2020-06-06 22:32] pepper-jk commented on #197
Well I did not say that memory isn't a problem.
But once you reduce the number of jobs/threads make uses so that memory isn't an issue anymore, disk space becomes an issue.

[2020-06-06 22:38] ranisalt commented on #197
What flags are you using for `CFLAGS`, `CXXFLAGS` and `LDFLAGS`? LTO is usually the culprit as it requires ludicrous amounts of RAM and stores huge object files.

I build it inside `/tmp` which is limited to 8GB and it never runs out of space, by a fair margin. It seems like you have a leak due to flags.

Seriously consider using `ccache`. Even if it fails, you will jump th the same 98% quickly ne

[2020-06-06 22:44] pepper-jk commented on #197
I use the most current PKGBUILD from the AUR, so if there is any leakage it is due to the PKGBUILD, is it not? Besides `-j3` I did not change anything in the PKGBUILD.

[2020-06-06 22:45] ranisalt commented on #197
I mean your flags in `makepkg.conf`

[2020-06-06 22:49] pepper-jk commented on #197
Here you go:

[code]

[2020-06-06 22:59] pepper-jk commented on #197
Yes it does, but it is not out of your control, you can still specify the number of jobs, just like with make.

But I get the dependency reason.

[2020-06-06 23:02] ranisalt commented on #197
Hm, you are using pretty standard flags. My intuition is upstream has enforced a flag inside their CMake files and that's causing high memory usage. I will investigate it.

[2020-06-07 04:30] petronny commented on #168
Build log for `rocprofiler`:
[code]

[2020-06-07 09:02] tpkessler commented on #168
@petronny many thanks again for your effort of building ROCm 3.5.0! I fixed the build errors. We now have to wait until @acxz pushes them to the AUR.

[2020-06-07 23:30] kozross commented on #197
Having attempted forcing ``THREADS`` to ``1``, I can confirm that this package will build. However, it does eat a huge amount of disk space (2GB+ for the final package, and probably a lot more as source). I'm unsure why this is happening, since older versions were nothing like this large).

[2020-06-08 03:51] helloworld1 commented on #197
I setup a cgroup to make only 4 CPUs available to the package and be able to build within 32G of ram. But it also eats 69.5G space in source

[2020-06-08 05:05] DerVerruckteFuchs commented on #197
I tried installing the update from the AUR, and was pretty shocked at the disk usage. I got to no space left and then the compile failed. After completely clearing out my ccache and the llvm-amdgpu package directory with source, I'm back to 127 GB of free space. While we're all comparing, this is on a system with 8 threads and 16 GB RAM/32 GB swap. At some points all of my RAM and swap were gettin

[2020-06-08 05:54] kozross commented on #197
``-DCMAKE_BUILD_TYPE=Release`` definitely ought to be there. I also think the logic setting ``THREADS`` should be removed - we can have it use our ``makepkg.conf`` settings instead.

[2020-06-08 07:19] DerVerruckteFuchs commented on #197
With the build type set to Release and both the aforementioned dynamic linking options set to `ON`, my compile just finished and everything seems to have installed correctly. I started with 127 GB and am at 123 GB after everything installed. With pacman the total install size is listed as 496.44 MiB. Also RAM/swap usage was much more reasonable. Compiling and watching youtube was at most 11 GB RAM

[2020-06-08 08:19] kozross commented on #197
Seems like a straightforward set of fixes. @acxz - could we get this?

[2020-06-08 10:07] tpkessler commented on #197
As @acxz  mentioned before, we had this discussion before:

It would be no problem to set the build type to release and remove the calculation of NUM_THREADS. But we cannot turn on dynamic linking, see PR https://github.com/rocm-arch/rocm-arch/pull/131

[2020-06-08 12:32] acxz commented on #197
Setting the build type is a user configuration option see: https://wiki.archlinux.org/index.php/CMake_package_guidelines#CMake_can_automatically_override_the_default_compiler_optimization_flag

Note: removing the build type may cause other issues with the software (read more under the linked section). If you can give me proof (directly linked from the CMake code) that other flags need to be added

[2020-06-09 16:34] pepper-jk commented on #197
Thanks for all your information.

As a **workaround** I was able to build and install `llvm-amdgpu` with the following PKGBUILD:

[code]

Please be aware that I used `ninja`.

[2020-06-09 22:03] ranisalt commented on #197
You would have the same output by running `make -j3`. You might solve the issue for your specific machine but you completely missed the point of the solution here.

I'm with @acxz on this.

[2020-06-09 23:09] kozross commented on #197
I also _strongly_ do not suggest the use of `ninja`. Gentoo have had issues of it blatantly ignoring user settings vis a vis parallelism (which I have experienced very personally). CMake can generate Unix makefiles, and since these would respect `MAKEFLAGS`, I suggest keeping to that.

[2020-06-10 07:21] petronny commented on #168
Build log for `rocclr`:
[code]

[2020-06-10 07:30] petronny commented on #168
Build log for `roctracer`:
[code]

[2020-06-10 07:43] pepper-jk commented on #197
If I was of the opinion that this **workaround** is the solution I would have issued a pull request.
As I didn't I'm not suggesting it as a solution
All I wanted to do is post the workaround I personally used in case someone wanted to compile `llvm-amdgpu` sooner rather than later, when this issue finally gets fixed properly.

[2020-06-10 23:32] ranisalt commented on #197
See, the way `ninja` works, it would build faster even with the same number of jobs that `make`. If it works for you, I would suggest even keeping it - though you will need to fix pkgbuild on every update.

[2020-06-11 01:20] acxz commented on #229
Done

[2020-06-11 01:20] #229 closed

[2020-06-11 01:24] acxz commented on #216
Done

[2020-06-11 01:24] #216 closed

[2020-06-11 01:33] acxz commented on #205
Done

[2020-06-11 01:33] #205 closed

[2020-06-11 01:58] acxz commented on #232
Done

[2020-06-11 01:58] #232 closed

[2020-06-11 02:43] acxz commented on #208
Done

[2020-06-11 02:43] #208 closed

[2020-06-11 03:12] acxz commented on #231
Done

[2020-06-11 03:12] #231 closed

[2020-06-11 03:15] acxz commented on #223
Done

[2020-06-11 03:15] #223 closed

[2020-06-11 03:21] acxz commented on #220
Done

[2020-06-11 03:21] #220 closed

[2020-06-11 03:25] acxz commented on #230
Done

[2020-06-11 03:25] #230 closed

[2020-06-11 03:30] acxz commented on #211
Done

[2020-06-11 03:30] #211 closed

[2020-06-11 09:43] pepper-jk commented on #197
I am aware of that, that is why I'm assuming that this bug will be fixed before the next update.
If we need to manually fix every aur package from this repo to get ROCM to work, what is the point of having the aur packages?

[2020-06-11 10:05] tpkessler commented on #168
Ok, with my PR #246 `llvm-amdpu` additionally packages `rocm-device-libs` which is a symlink to the cmake configuration directory. This ensures that the standalone `rocm-device-libs` and the one bundled with `llvm-amdgpu` are compatible.

[2020-06-11 14:30] tpkessler commented on #168
`roctracer` and `rocprofiler` are fixed! #248 #250

[2020-06-12 15:26] petronny commented on #168
Build log for `rocm-clang-ocl`
[code]

[2020-06-13 05:35] petronny opened #251 "Use github actions to automatically sync packages to AUR"
To achieve this, you need:
* A file called `.github/workflows/sync.yml`
and it runs on every push event
* Store credit in `Settings > Secrets`
like `AUR_SSH_KEY`
* save the credit file (it won't be exposed in the log)
[code]
* Determine which packages to sync from the commit changes. Then sync them to AUR.
[code]

[2020-06-14 09:37] tpkessler commented on #207
I cannot compile it on Arch Linux at the moment: https://github.com/ROCmSoftwarePlatform/hipSPARSE/issues/121

[2020-06-14 12:57] rigred commented on #197
We need to please verify the build type of all packages!
This was being compiled a debug instead of release which has far reaching consequences for all packages that rely on this.
Especially build resources and runtime kernel performance.

[2020-06-14 13:02] tpkessler commented on #197
I've had this discussion several times before. The reason why we do not specify `CMAKE_BUILD_TYPE=Release` is [here](https://wiki.archlinux.org/index.php/CMake_package_guidelines#CMake_undesired_behaviors). Many ROCm libs (if not all) set their default build type to release.

[2020-06-14 13:05] rigred commented on #197
In this case that was not happening.
Thus we need to verify what's actually being built.

[2020-06-14 13:05] #197 closed

[2020-06-14 13:38] acxz commented on #251
Sweet thanks for detailing this. I'll take a look at this when I get some time.

[2020-06-14 13:42] tpkessler commented on #251
A newbie question: What's the difference to `aurpublish`? Is it the automatization by GitHub Actions?

[2020-06-14 13:42] #212 closed

[2020-06-14 13:44] #233 closed

[2020-06-14 13:50] petronny commented on #251
aurpublish only does the final step, syncing them to AUR.

You still need to tell it which package to sync and config the ssh key.

[2020-06-14 13:52] #206 closed

[2020-06-14 14:04] acxz commented on #197
Agreed ideally we should be verifying the files being built/packaged ([reproducible](https://reproducible-builds.org/) builds anyone? As of now, we will take build types case by case and as we slowly round out the packages we have for rocm compare the output deb packages with ours.

[2020-06-14 14:05] #213 closed

[2020-06-14 14:33] acxz commented on #195
@ruben2000de it seems that no one has been able to reproduce this issue. I recommend you try using the arch4edu repo as shown in the [installation instructions](https://github.com/rocm-arch/rocm-arch#installation) if this still does not work for you then I suggest moving over to EndeavourOS. Sorry we couldn't help you out, but the AUR is primarily for Arch Users (or distros that are Arch repo comp

[2020-06-14 14:33] #195 closed

[2020-06-14 14:35] tpkessler commented on #251
Ah, I see. Thanks for the explanation @petronny.

[2020-06-14 14:38] tpkessler commented on #238
Are you working on this @acxz? Currently this package is included in the meta package `rocm-dev`, so that the instructions from the README do not work at the moment.

[2020-06-14 14:41] acxz commented on #238
ah sorry I was planning on doing it a while back but things came up, feel free to take this up.

[2020-06-14 14:51] acxz commented on #210
Done

[2020-06-14 14:51] #210 closed

[2020-06-14 15:00] acxz commented on #209
Done

[2020-06-14 15:00] #209 closed

[2020-06-14 16:16] acxz commented on #207
Let's push this out anyway. Even though the new version doesn't build, the current version doesn't build either. It's better to debug the lastest version than figuring out how the older version builds.

[2020-06-14 20:24] #207 closed

[2020-06-14 20:28] acxz commented on #178
@darkstego @pepper-jk The hipsparse package has now been updated to `3.5.0-1` If you could update your build/error logs that would be great.

[2020-06-14 22:38] pepper-jk commented on #178
The dependency `rocsparse` still seems to have problems.

<details><summary>hipsparse log</summary>
<p>

[code]

</p>
</details>

<details><summary>rocsparse log</summary>
<p>

[code]

</p>
</details>

[2020-06-15 05:10] kode54 commented on #197
I just checked, rocm-opencl-runtime 3.5.0-1 also builds a debug build. I only noticed because Luxmark reported the device name as "OpenCL 2.0 AMD-APP.dbg".

[2020-06-15 05:30] kode54 opened #258 "[rocm-opencl-runtime] Blender demo file eventually crashes while compiling kernels"
Attempting to use `blender 17:2.83-1` to render the Blender 2.81 - The Junk Shop demo from here:

https://www.blender.org/download/demo-files/

Using:

`llvm-amdgpu 3.50-2`
`comgr 3.50-2`
`rocm-opencl-runtime 3.50-1` (modified to use Release build, but the original did the same thing)

Results in Blender crashing partway through compiling the render kernels, never achieving any render output. This

[2020-06-15 08:11] c0d3st0rm commented on #258
I had this happen - HIP also didn't work, and would segfault when I tried a simple program. In both cases, after the program crashed, it left my GPU (Vega 56) in a strange power state where it electrically whined, loudly. I haven't touched it since, but something is definitely wrong.

[2020-06-15 09:41] tpkessler commented on #258
Hey @kode54. I can reproduce our problem:
[code]
I'm using `llvm-amdgpu 3.5.0-2`, `comgr 3.5.0-2` and `rocm-opencl-runtime 3.5.0-1` on a Vega 56. Could you also please post our error output here?

[2020-06-15 09:44] tpkessler commented on #258
@c0d3st0rm Could you please open a separate issue for HIP, please? Can you run the HIP-Examples?
[code]

[2020-06-15 10:14] c0d3st0rm commented on #258
@tpkessler it will be a while before I can I think. The `llvm-amdgpu` build kept on failing because it ran out of memory during linking (6C/12T, 32GB), and some of the other packages had broken build-time dependencies (I had to install package X to be able to build Y, for eg) - I should be able to reproduce this later, however it might be my AUR manager (`pikaur`).

[2020-06-15 10:17] tpkessler commented on #258
You can use the binary packages hosted by `arch4edu`. From our README:

[2020-06-15 11:57] c0d3st0rm commented on #258
I'll build it from source now, and see if I can recreate the issue - what information do you need?

[2020-06-15 12:24] c0d3st0rm commented on #258
So even just running clinfo, my GPU starts whining like crazy. Something is definitely wrong.

[2020-06-15 12:40] c0d3st0rm commented on #258
Here's the logs (I can't upload it as a file for some reason):

<details>
<summary>HIP-Examples logs</summary>
[code]
</details>

[2020-06-15 12:43] c0d3st0rm commented on #258
Also, I dumped `/sys/class/drm/card0/device/hwmon/hwmonN` before+after the whine starts/ends (dump, run `clinfo`, dump): here are the significant ones (the others were temps etc):

[code]

Looks like the GPU might not be clocking down?

[2020-06-15 12:56] c0d3st0rm commented on #258
This might be related, the symptoms seem to be the same: https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/621

[2020-06-15 14:09] tpkessler commented on #258
Ok, the hip examples work. In view of the related issues you found it seems to be an upstream issue. Do you mind reporting your problem there? Have you tried to set the DPM states as suggested [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/621#issuecomment-527598973)?

[2020-06-15 14:41] rigred opened #259 "[rocblas] Is anyone actually able to build rocblas?"
I've now tried a number of tweaks to the rocblas configuration in an attempt to get it to build something.

During the initial config it complains a lot about a variety of CMAKE flags being wrong.

Then after loading the Architectures yaml files it all goes to hell and I get a truly staggering amount of errors about `instruction not supported on this GPU` or `unexpected token at start of statement

[2020-06-15 14:46] c0d3st0rm commented on #258
I have, and it makes no difference. I'll report this upstream - sorry to spam this thread. OpenCL now seems to work too, however I _was_ experiencing the same issue as the OP.

[2020-06-15 14:46] rigred commented on #259
My best guess is that's building with the wrong compiler, but I can't even begin sorting through the abstract logic in this PKGBUILD.

The Cmake params for rocblas make sense to me.

But what's up with the CFLAGS exports and llvm yaml fix?

[2020-06-15 16:21] tpkessler commented on #259
Me. I built in a clean chroot with `arch4edu-x86_64-build` before submitting the PR.

[2020-06-16 09:01] #126 closed

[2020-06-16 11:55] #237 closed

[2020-06-16 11:55] #238 closed

[2020-06-16 15:40] c0d3st0rm commented on #258
So regarding the Blender crashes - I wasn't wrong. OpenCL on my Vega with ROCm 3.5.0 still crashes just after compiling (or failing to compile) the render kernels for the classroom demo:

[code]

[code]

and _then_ leaves my Vega in the weird power state.

[2020-06-17 06:58] tpkessler commented on #179
We've completed the milestone! All packages are now at version 3.5.0.

[2020-06-17 06:58] #179 closed

[2020-06-17 07:30] tpkessler opened #262 "Roadmap to [community]"
With the last package being updated to 3.5.0 yesterday, we should think about how we can get (a part of) the packages into [community]. From our issues tracker I infer that most of the people are interested in two things:

* OpenCL,
* Machine Learning with pytorch or tensorflow.

The last point seems to be out of reach for now since it needs most of the ROCm stack which I would not consider stable

[2020-06-18 01:18] chiboreache commented on #135
hey, i also trying to compile it with ROCm key enabled, but having an error

[code]

_not sure that is right tread, but whatever_

[2020-06-19 08:26] lahwaacz opened #263 "[hip-nvcc] does not build in clean chroot"
Build log (attempting to build [hip-nvcc](https://aur.archlinux.org/packages/hip-nvcc/) in a clean chroot):
[code]

[2020-06-19 22:44] giovannikraushaar commented on #259
Actually it worked for me after installing the most recent version of other rocm packages. Maybe the problem is some missing dependencies?

[2020-06-20 11:33] rigred commented on #259
For some reason mine will attempt to build with the system clang and I have no idea how it is getting that.

[code]

The CMAKE params all reference the wrong system compiler paths divergent from what's set in the PKGBUILD.

Any ideas?

[2020-06-20 17:04] tpkessler commented on #259
Which `hip` version do you use? It seems like `hip` is not configured correctly. What does
[code]
print?

[2020-06-20 17:08] tpkessler commented on #168
`rocm-clang-ocl` should be fixed now. What can you say about the rest of the packages (`rocm-libs`, `rocprofiler`, `rocm-gdb`)? They should all work except for `hipsparse` for which I opened an issue upstream: https://github.com/ROCmSoftwarePlatform/hipSPARSE/issues/121

[2020-06-20 17:38] rigred commented on #259
/opt/rocm/hip/bin/hipconfig | grep clang
[code]

[2020-06-20 17:44] tpkessler commented on #259
Can you run it again with `grep -i clang`? I'm interested in `HIP_CLANG_PATH`.

[2020-06-20 18:35] rigred commented on #259
It appears to be configured correctly.

[code]

[2020-06-20 23:06] acxz opened #265 "[rocm-opencl-runtime] out of date"
@Megacubo has flagged this package out of date on the AUR

https://www.phoronix.com/scan.php?page=news_item&px=Radeon-
ROCm-3.5.1&utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+Phoronix+%28Phoronix%29

[2020-06-20 23:52] acxz commented on #265
Thx for the report @Megacubo, but it seems like some packages have been patched with a rocm-3.5.1 release while others have not. This is not one of those packages.

[2020-06-20 23:52] #265 closed

[2020-06-21 00:02] acxz commented on #52
After coming back to this conversation I actually agree with @ranisalt. Reading this convo again @ranisalt's side makes much more sense, esp considering the constantly updating that we are doing. While following upstream makes sense, (consistent) versioned install path is something that just we cannot follow with our current model of development for the foreseeable future.

Also considering no wor

[2020-06-21 00:02] #52 closed

[2020-06-21 00:12] acxz commented on #138
Changing the name of this issue, since it is mostly about getting `hip-hcc` to work properly.

[2020-06-21 00:18] acxz commented on #138
@helfio @s-bernard the `hip-hcc` package has been deprecated and this convo has been stale. As such I'm closing this issue. If you are still experiencing these issues on `hip-nvcc` or `hip-rocclr` then feel free to open another issue

@helfio As for (python-)tensorflow-rocm issues please post over another issue under `(python-)tensorflow-rocm`.

[2020-06-21 00:18] #138 closed

[2020-06-21 00:32] acxz commented on #263
Yep I can reproduce the problem seems like it's trying to install `.hipInfo` even tho its not built.

[2020-06-21 00:39] acxz commented on #263
I went ahead and patched it, if you could try installing the latest version `3.5.1` from the AUR that would be great.
Labelling this issue as patched and leaving it open until the patch is not necessary.

[2020-06-21 08:59] tpkessler commented on #259
Have you tried to remove the `clang` package before building?  Maybe `rocblas` does some assumptions on the path variable. I remember a python function  `which()` in the tensile code that basically implemented the shell `which` and is routinely called by the setup script. The point is that in a clean chroot the only `clang` you have installed is that from `llvm-amgpu`, so `which()` can only find t

[2020-06-21 10:32] lahwaacz commented on #263
@acxz Thanks, now the build succeeds.

[2020-06-21 12:36] petronny commented on #168
Most of the packages are built successfully now. Except:
* `rocm-clang-ocl`
* `hipsparse`
* `rock-dkms` is still at version 3.3.0

[2020-06-21 13:07] lahwaacz opened #266 "[hip-nvcc] missing (optional?) dependencies"
After installing the `hip-nvcc` package and running `hipcc -h`, I get this error:
[code]
So it seems that some dependencies are missing. What should be installed to make it work?

[2020-06-21 14:06] acxz commented on #259
Changing this label to question since we have a clean chroot package available on arch4edu. If you don't care about building rocblas personally I suggest you use arch4edu to install rocblas.

[2020-06-21 14:10] acxz opened #267 "[rock-dkms-bin] DRM_VER does not provide a default OS name"
This comment is a continuation of #244 and follows the patch we have for the package.

Upstream issue: https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/issues/94

[2020-06-21 14:12] acxz commented on #263
Glad to hear it works

Reopening

[2020-06-21 14:27] lahwaacz commented on #263
Well, not exactly... #266

[2020-06-21 14:45] acxz commented on #168
Sweet @petronny I cannot express my thanks to you enough!!!

`rocm-clang-ocl` has just been updated and should be resolved.
As for `rock-dkms` you can drop it (it is replaced with `rock-dkms-bin` for now, until we get the source compilation working), we have submitted an AUR deletion request and are waiting for it to be approved.

[2020-06-21 16:08] acxz commented on #266
hmm that is weird here is my output for `hipcc -h`

<details>
  <summary>Output</summary>

[code]

[2020-06-21 16:10] acxz commented on #266
Let's start by first removing all packages from this repo
After that can you install this package with the following command: `yay -Syu hip-nvcc --rebuildtree`?
And then let's see what `hipcc -h` gives you.

[2020-06-21 16:25] lahwaacz commented on #266
I don't have any package from "this repo" except `hip-nvcc`. I don't use yay, I built the package in a clean chroot (using [aurutils](https://aur.archlinux.org/packages/aurutils/) but that does not matter since it does not have any AUR dependencies). I have `cuda` installed, though it is only in `makedepends` but should be in `depends`.

[2020-06-21 16:34] acxz commented on #266
Ah so yeah removing `cuda` from my computer gives me the same error. Seems like its a simple fix to move `cuda` from `makedepends` to `depends`. Do you want to create a PR for this fix?

[2020-06-21 16:42] lahwaacz commented on #266
I have `cuda` installed on the system where `hipcc -h` failed, and it was also installed during build (due to `makedepends`). So it must be something else...

[2020-06-21 17:15] acxz commented on #266
hmm can you post your build log maybe that might give us some more insight as to why its not working for you

[2020-06-21 17:26] lahwaacz commented on #266
Sure:
[code]

[2020-06-21 17:34] lahwaacz commented on #266
So I found out that running `HIP_PLATFORM=nvcc hipcc -h` works as expected. Where do you set `HIP_PLATFORM` on your system?

[2020-06-21 17:43] acxz commented on #266
I have never set `HIP_PLATFORM` specifically, but maybe we should set it in the `PKGBUILD` along with `HIP_COMPILER`.

Output of hipconfig:
[code]

[2020-06-21 17:53] lahwaacz commented on #266
For me `hipconfig` prints this:
[code]
Note that `HIP version` is different and `HIP_PLATFORM` reports `hcc` for me. For both of us `HIP_COMPILER` is reported as `hcc` so the value set at build time (`clang`) is lost.

[2020-06-21 18:52] cduchesne opened #269 "[rock-dkms-bin] Radeon VII with kernel 5.7 doesn't work"
This patch in #244: [ROCK-Kernel-Driver PR #94](https://patch-diff.githubusercontent.com/raw/RadeonOpenCompute/ROCK-Kernel-Driver/pull/95.patch) allows dkms package to build and install with kernel 5.7 but driver load fails at startup. When I dropped back to a 5.6 kernel, the dkms package builds/installs successfully as well, but also the driver functions correctly.

[kcl_common.h:#K18-L19](https:

[2020-06-21 18:57] cduchesne commented on #269
from dmesg output
[code]

[2020-06-21 19:03] tpkessler commented on #267
Relevant upstream issue https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/issues/122

[2020-06-21 19:43] tpkessler commented on #269
Hey @cduchesne I was about to open an issue on this, too. With `5.7.2` the module compiled and run successfully on my PC with a Vega 56. However with `5.7.3+` I was unable to load the module with a similar error message as yours. I'm pinning @agravgaard. Maybe he can tell us more this problem.

[2020-06-21 19:52] tpkessler opened #270 "[rocm-clang-ocl] Remove patch file"
Report issue upstream and pick from there. See #264

[2020-06-21 19:53] tpkessler commented on #95
Resolved with 3.5.0.

[2020-06-21 19:53] #95 closed

[2020-06-21 19:58] tpkessler commented on #135
Hey @chiboreache could you please open a separate issue on this and provide more information regarding your setup and the PKGBUILD you use? I don't understand what you mean with "ROCm key enabled" as you're cloning `python-pytorch-cuda-git`?

[2020-06-21 20:55] acxz commented on #266
Yeah for some reason it seems to be capturing `hcc` for you. Personally I have a feeling you have some lingering files from hcc/hsa. Do you mind checking this just in case?

I am not familiar with aurutils, but can you just build from clean chroot following the official Arch instructions here: https://wiki.archlinux.org/index.php/DeveloperWiki:Building_in_a_clean_chroot#Convenience_way instead of

[2020-06-21 21:07] acxz commented on #266
I added `cuda` in the `depends` field and am removing the `runtime error` label, since I can't reproduce this. If someone else experiences a similar error I'll add it back.

[2020-06-22 04:45] petronny commented on #168
When building `rock-dkms-firmware-bin`,
`http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms-firmware_3.5-30_all.deb` returns error 404.

[2020-06-22 05:36] lahwaacz commented on #266
There are no lingering files as I never installed other rocm packages:
<details>
<summary>`tree /opt/rocm` output</summary>

[code]
</details>

[2020-06-22 05:42] lahwaacz commented on #266
`hipconfig` has this logic:
[code]
I have the `clang` package installed, so it goes through the `clang++` branch before even checking `nvcc`...

[2020-06-22 05:46] lahwaacz commented on #266
Other interesting piece is a few lines above in `hipconfig`:
[code]
Notice that they try to parse `$HIP_PATH/lib/.hipInfo`, but there is no `.hipInfo` file in the package so #263 is probably wrong fix...

[2020-06-22 11:01] acxz commented on #168
http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms-firmware_3.5-30_all.deb returns error 404.

Fixed and synced

[2020-06-22 11:13] acxz commented on #266
Aha yep this is it, I do not have the clang package installed. Having it installed I can reproduce the issue.

However, this still doesn't explain why you had issues in the clean chroot. Do you still mind building the package in a chroot to confirm?

So it does seem like we should manually specify the HIP_PLATFORM variable, but as you mentioned the build time variable configuration is not respecte

[2020-06-22 12:25] acxz commented on #266
I have created a PR upstream that resolves the error for me (tested it but didnt create the patch files), I don't have the time to create the patch for this PKGBUILD today. But feel free to create a patch and PR for the PKGBUILD based on that upstream PR.

[2020-06-22 14:45] agravgaard commented on #269
I'm not sure I really understand why it's happening now with `5.7.3+` and not in other versions, but I think I should be able to make a patch anyway.

This symbol doesn't seem to be exported anywhere in the linux kernel, and I don't think it ever has been(?). However, it does appear in kallsyms for me on linux `5.7.0`:
`0000000000000000 t dma_fence_default_wait_cb`

Could I get you to run:
`cat /p

[2020-06-22 15:39] lahwaacz commented on #266
I won't have time today either. For now, I just left a comment in the upstream PR.

[2020-06-22 16:14] cduchesne commented on #269
with 5.7.4-arch:
[code]

[2020-06-22 17:17] tpkessler commented on #258
I opened an issue upstream regarding the blender issues. Today I got an answer:

[2020-06-23 00:52] acxz commented on #263
Ah updated the patch for this package, also upstream PR here: https://github.com/ROCm-Developer-Tools/HIP/pull/2113

[2020-06-23 00:54] acxz commented on #266
Got some free time and added the patch for this package, please try `3.5.1-3` and let me know if you still run into any issues. If it works nice and dandy feel free to close this issue thread. The patch status will be monitored over at the previous issue that will be kept open.

[2020-06-23 13:05] lahwaacz commented on #266
Thanks, now it builds fine and `hipconfig` seems to report correct values, but now when I try to compile something with `hipcc` I get a bunch of errors like this:
[code]
Any ideas?

[2020-06-23 13:16] acxz commented on #266
Sweet!

Yeah I get those as well, hipcc is finding the system clang instead of the llvm clang, but considering clang isn't even used when compiling for the nvcc platform it should be fine.

As for the last line that does seem to be an issue. Can you send the steps you took so that I can reproduce it?

[2020-06-23 13:27] lahwaacz commented on #266
In `/opt/rocm/hip/bin/hipcc` there is:
[code]
So I run `export HIPCC_VERBOSE=7` and then got
[code]

As for what I'm trying to do: `nvcc` can be used for compiling either `.cu` files (as usual) or regular `.cpp` files, in which case it does not do much more than just calling the host compiler with the input file and some arguments. I expected that `hipcc` could be used the same...

[2020-06-23 13:34] lahwaacz commented on #266
Btw. if `hipcc` needs its own special version of clang, the `hipcc-nvcc` package should depend on it :wink:

[2020-06-23 13:35] acxz commented on #266
You can get rid of the clang warnings by downloading `llvm-amdgpu` package. (I should prob add that to the `depends` field or you can make a PR for it).

As for what code you are trying to run we can't really move forward if you don't tell me your exact steps (including the contents of the `helloworld.cpp` file. Instead of testing your own script can you just try running the examples that upstream

[2020-06-23 13:48] lahwaacz commented on #266
My `helloworld.cpp` was just the most simple program:
[code]
But fair enough, it fails for me even for the official examples:
[code]

[2020-06-23 13:53] acxz commented on #266
Can you try the exact one I linked?

[2020-06-23 13:57] lahwaacz commented on #266
Which one is that? `samples/01_Intro/square` or `samples/01_Intro/bit_extract`?

[2020-06-23 13:58] acxz commented on #266
1st one

[2020-06-23 14:01] lahwaacz commented on #266
Well, I tried both (after replacing `01_Intro` with `0_Intro` in the path). The first one works because it builds a `.cu` file, not `.cpp`:
[code]
The second fails as it tries to build a `.cpp` file with `hipcc`:
[code]
Does the second one work for you?

[2020-06-23 14:07] acxz commented on #266
hmm yeah it doesn't work for me.

I think you'll have to take this issue upstream, don't really know what we can do from a packaging standpoint. If you have an officially supported machine (like Ubuntu 18) lying around you could try to see if you can reproduce the issue on there.

[2020-06-23 14:36] acxz commented on #266
I added `llvm-amdgpu` as a dep in `hip-nvcc-3.5.1-4`. Thx for the bug reports @lahwaacz, really appreciate it. I'll close this issue. I'll go ahead and close this issue, now that the original `missing (optional?` dependencies` concern has been addressed. For your current issues, I suggest you go to upstream, since it is not really our responsibility to resolve those issues.

[2020-06-23 14:36] #266 closed

[2020-06-23 17:34] lahwaacz commented on #266
Thanks for your help too, @acxz. I'll do some more investigation and report the issues upstream.

[2020-06-23 18:09] fernandoblalves opened #271 "[miopen-hip] can't build miopen"
Hi guys,

Can someone build miopen from AUR? It is not available from arch4edu.
I get the following error:

[code]

thanks

[2020-06-24 01:46] acxz commented on #271
Hello @fernandoblalves thx for the bug report. `miopen` will soon be deleted from the AUR and has been split into two backends `miopen-opencl` and `miopen-hip`. As such `miopen` is not recommend, can you update your bug report with `miopen-hip`?

`miopen-opencl` compiles successfully for me however I have the same error as you for `miopen-hip`. I assume it is because I am not on my AMD machine. Ar

[2020-06-24 06:08] petronny commented on #168
When building `rock-dkms-bin`,
http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_3.5-30_all.deb also returns error 404.

[2020-06-24 07:02] chiboreache commented on #135
i guess i have the same problem exposed in this issue, but if you think creating new issue are necessary, let me know

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-pytorch-git

i edit PKGBUILD `export USE_ROCM=ON` before compilation

[code]

[2020-06-24 11:43] acxz commented on #168
http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_3.5-30_all.deb also returns error 404.

Fixed and synced

[2020-06-24 11:49] tpkessler commented on #135
We do not maintain the pytorch package, so I don't think that we can help you here. From your log files it seems like it fails at the very beginning of the build process:

So your problem is not related to the ROCm stack.

It's better to open a separate issue for your problems. This one is an announcement for a series of PRs, not a collection of build errors for pytorch. I'm closing this one. If y

[2020-06-24 11:49] #135 closed

[2020-06-24 13:08] fernandoblalves commented on #271
Hi, thanks for the swift response.

I am compiling from an AMD CPU with AMD GPU. I get the same error when compiling `miopen-hip`. There is no point in trying `miopen-opencl` if I have an AMD GPU, right?

[2020-06-24 13:40] acxz commented on #271
`miopen-opencl` should still work with an AMD GPU. Feel free to try it.

We have updated the miopen-hip (3.5.0-3) package if you could try again and update your bug report that would be great.

[2020-06-24 15:19] fernandoblalves commented on #271
I tried `miopen-opencl`, it installed without issues from AUR but tensorflow does not detect my AMD GPU with it, but maybe I'm lacking some other package or something else is wrong. Anyway, that is off topic.

Building `miopen-hip` failed, this time later on. https://pastebin.com/rsXEky5y
The paste is kinda huge and I apologize for that, and I guess that you are mostly interested in the final erro

[2020-06-24 17:30] tpkessler commented on #271
Which `hip` are you using? For AMD GPUs this would be `hip-rocclr 3.5.0-3` which includes `hip/hip_runtime_api.h`, located at `/opt/rocm/hip/include`. Can you post the output of `hipconfig`?

[2020-06-25 10:53] fernandoblalves commented on #271
Is this all you require?

[code]

[2020-06-25 12:16] t1nux commented on #269
The current kernel and current rock-dkms-bin is also not working for me, but also other combinations don't work for various reasons. Would anyone mind listing a combination that fully works for Radeon VII?

[2020-06-25 13:00] agravgaard commented on #269
I think I figured out the problem as explained above. However, I don't think there are any alternatives til `kallsyms_lookup_name`, other than `__symbol_get` for actually exported symbols. It's an intentional break of the functionality: [linux mailing list](https://lore.kernel.org/lkml/20200221151109.gxrhyaybjwxqktul@ast-mbp/).
There is a short article on lwn on the subject: https://lwn.net/Articl

[2020-06-26 13:18] acxz commented on #178
@pepper-jk for rocsparse can you open another issue, if you can still reproduce it with the latest package version?

Regarding hipsparse, I was not able to reproduce the error you experienced but did encounter another one. `hipsparse-3.5.0-2` has been patched and should build now. If you could update your bug report based on the new version that would be great.

[2020-06-26 13:20] acxz commented on #168
@petronny `hipsparse` has been updated that should resolve the error, can you check?
`hipsparse-3.5.0-2` is the newest version.

[2020-06-26 18:11] petronny commented on #168
We have `rocm-dkms` and `rocm-libs` at 3.5.0 now. Cheers~

[2020-06-26 18:11] #168 closed

[2020-06-27 12:48] acxz commented on #29
Closing this issue since no work has been done on it. If someone can build from source, they are free to create the `rock-dkms` package and create a PR for it in this repo.

[2020-06-27 12:48] #29 closed

[2020-06-27 12:49] acxz commented on #196
This package does not exist anymore, closing this issue.

[2020-06-27 12:49] #196 closed

[2020-06-27 17:03] tpkessler opened #280 "[aomp-amdgpu] Functional clang for OpenMP offloading on Radeon GPUs"
This issue accompanies a series of pull requests that bring `aomp-amdgpu` on Arch Linux:

## General remarks

The Arch Linux packages use the same cmake flags as the upstream build scripts. This means:

* `CMAKE_BUILD_TYPE=Release` for all packages,
* Configure compiler and libraries with `RPATH` pointing to `/opt/rocm/aomp/lib`. This is needed to pick up the right LLVM and OpenMP libraries.
* Cur

[2020-06-27 20:47] acxz commented on #280
This is some great work @tpkessler, however I dont really have the time to review these changes properly.
I'll let u finish this one out. If you think the PRs are good push them to master and run `aurpublish <package-name>` to sync/create the package on the AUR.

[2020-06-27 22:12] rigred commented on #280
Some of the undefined references are odd.
Since looking at the code they appear to mainly revolve around ARM targets which we aren't even building.

[2020-06-27 22:17] rigred commented on #280
Everything looks good to merge.
Only thing I'm still suspicious of is `aomp-flang-runtime`
Something real odd is going on there. Will only be able to test that in the morning.

[2020-06-27 23:12] acxz commented on #259
Closing this issue due to inactivity

[2020-06-27 23:12] #259 closed

[2020-06-28 05:43] chengyuhui commented on #178
I am getting a strange structure with packages from arch4edu:
[code]
I really don't think I should have a build directory in my root directory...

[2020-06-28 08:21] tpkessler commented on #280
Hey @acxz, I would also prefer to have them all in a single package. The problem is that `aomp-openmp` and `aomp-flang` need to be compiled with `clang` from `aomp-llvm`. I don't know how to do this in a single `PKGBUILD`.
The compile chain is

aomp-llvm -> aomp-extras (needs clang from aomp-llvm) -> aomp-openmp (needs tools from aomp-extras and aomp-llvm)

Then you have a working `C/C++` compiler

[2020-06-28 08:22] tpkessler commented on #280
Thanks @rigred for having a look at my pull requests. I also don't understand what's going wrong there.

[2020-06-28 10:06] tpkessler commented on #271
Hey @fernandoblalves! It took me a while what causes the problems. I've found a solution, see the PRs linked above. The package now complies successfully in a clean chroot.

[2020-06-28 12:02] tpkessler commented on #280
I tried to merge all `package()` functions in a single `PKGBUILD`, but it already fails when building `aomp-extras`. The compiler is not able to locate the bitcode files, see [here](https://github.com/ROCm-Developer-Tools/aomp/issues/114).
If we would like to have a single `PKGBUILD` for `aomp-amdgpu` this would mean at the moment that we would have to recompile half of the ROCm core stack (`hsakm

[2020-06-28 14:37] #271 closed

[2020-06-28 18:17] cduchesne opened #283 "[hipsparse] missing / in install prefix"
There is a missing / in PKGBUILD for install prefix: https://github.com/rocm-arch/rocm-arch/blob/master/hipsparse/PKGBUILD#L31

[2020-06-28 19:01] cduchesne opened #284 "[rccl] missing CXX env before cmake"
Missing `CXX=/opt/rocm/hip/bin/hipcc \` before `cmake`
https://github.com/rocm-arch/rocm-arch/blob/master/rccl/PKGBUILD#L25

[2020-06-28 22:15] acxz commented on #283
Ah nice catch, feel free to open up a PR to resolve this.

[2020-06-28 23:08] cduchesne commented on #283
i'm not allowed to contribute to open source outside of filing generic issues unfortunately, even when personal like this case

[2020-06-29 06:26] tpkessler commented on #178
Hey @chengyuhui thanks for bug report. As @cduchesne mentoined in #283 we missed a slash in the install prefix. The bug is fixed with #285 and should land on arch4edu soon.

[2020-06-29 06:26] tpkessler commented on #283
No problem. I've taken care of it.

[2020-06-30 00:50] vsauer opened #286 "[rock-dkms-bin] Error downloading sources"
[code]

It seems that the version is not the same as that from the website. Any advice?

[2020-06-30 11:16] #178 closed

[2020-06-30 11:16] #283 closed

[2020-06-30 11:29] acxz commented on #286
Yep, Seems like they have reverted the version. Feel free to fix the URL to the correct one in the PKGBUILD and submit a PR.

[2020-06-30 13:26] #284 closed

[2020-07-01 00:17] Disty0 opened #289 "tensorfow-rocm doesn't detects GPU"
As the title says tensorflow-rocm works but only with CPU. HIP examples works fine with GPU.

Here is the rocminfo:
[code]

Here is the clinfo:
[code]

Here is the quick search of the packages i installed (mostly from arch4edu):
[code]
[code]
[code]
[code]

[2020-07-03 16:54] fernandoblalves commented on #289
Where can I find the `python-tensorflow-rocm` repo?

[2020-07-03 17:45] acxz commented on #289
I have yet to create it, give me a couple hours and I'll get it up.

[2020-07-04 12:53] tpkessler commented on #280
I've got some help upstream. `aomp-amdgpu` is now built in standalone mode. However, the `flang` component still doesn't work.

[2020-07-04 13:15] t1nux commented on #269
@agravgaard Thanks for the info, and sorry for only trying this out now. I can confirm that kernel-5.6.15-arch1-1 is working fine on my Radeon VII.

[2020-07-04 15:40] kjuanman opened #291 "[hsa-ext-rocr] deb 404 not found"
Downloading hsa-ext-rocr-dev_1.1.30501.0-rocm-rel-3.5-34-def83d8_amd64.deb...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
curl: (22) The requested URL returned error: 404 Not Found

The available .deb at 202

[2020-07-04 16:07] acxz commented on #291
Thats for the report, feel free to make a PR!

[2020-07-04 21:56] #280 closed

[2020-07-04 22:00] acxz commented on #280
Feel free to keep another issue open specific for flang, I'll close this one.

[2020-07-08 21:08] Awlexus opened #293 "Segmentation fault when trying to run tensorflow quick start"
Hello, I'm currently trying to install rocm and tensorflow on my machine, but I'm getting a trying to run the [tensorflow quickstart guide with the mnist dataset](https://www.tensorflow.org/tutorials/quickstart/beginner)

I've installed `rocm-dkms` through an arch4edu mirror (https://mirrors.aliyun.com/arch4edu/$arch), because currently installing with yay seems to be broken. After the installatio

[2020-07-09 20:45] #291 closed

[2020-07-10 15:29] piotrv commented on #286
I changed the debian package version name in the build file and added the correct checksums, now:
  -> Extracting rock-dkms_3.5-30_all.deb with bsdtar
==> Removing existing $pkgdir/ directory...
==> Entering fakeroot environment...
==> Starting package()...
patching file dkms/Makefile
Hunk #1 FAILED at 2681.
1 out of 1 hunk FAILED -- saving rejects to file dkms/Makefile.rej
==> ERROR: A failure oc

[2020-07-10 20:27] acxz commented on #286
hmm seems like the Makefile might have had some significant changes. You try using the 3.5.1 link.

[2020-07-11 08:13] gmaleshkov commented on #286
Hello,
Package - rock-dkms  -http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_3.5-32_all.deb file don't exists. rock-dkms_3.5-30_all.deb, but gives: Error! Bad return status for module build on kernel: 5.7.7-arch1-1 (x86_64)
Package - rock-dkms-bin - http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_3.5-32_all.deb file don't exists, with  rock-dkms_3.5-30

[2020-07-11 10:17] piotrv commented on #286
It seems _95.patch_ has changed as well, since
[code]

[2020-07-11 13:07] acxz commented on #286
I see, what if the URL is tmp changed to follow the 3.5.1 specifically? That might be worth a shot.

[2020-07-11 19:37] Awlexus opened #296 "[rocm-dkms] Missing kernel headers warning when after installing rocm-dkms"
As written in https://github.com/rocm-arch/tensorflow-rocm/issues/3, I'm getting the following warning after installing  `rocm-dkms`.
```Unable to install module amdgpu-3.5/32 for kernel *: Missing kernel headers.```

Mirror used for downloading: `arch4edu` (https://mirrors.aliyun.com/arch4edu/$arch)

[2020-07-11 20:26] piotrv commented on #286
You mean the source url to `/rocm/apt/3.5.1/pool/main/r/rock-dkms/`
and then use the available
[code]

[2020-07-11 20:38] piotrv commented on #286
I hardcoded source url  to 3.5.1

[code]

[2020-07-12 00:48] acxz commented on #286
Yeah seems like upstream rewrote some of the patch for some reason. So then a couple of things we can do.

We can ship the package out without the patch. This will resolve this issue but remove the `patched` label of #267. Which I am fine doing since it's not like the patch is gonna be effective if we don't even have the sources downloaded.

The next thing will be to resolve the patch issue. We ca

[2020-07-12 13:43] acxz commented on #296
hmm I can't seem to reproduce, can anyone else take a look at this? It might be a similar problem to #269

[2020-07-12 18:07] Awlexus commented on #296
I got this [reply](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1040#issuecomment-657248844) for my issue in tensorflow-upstread. Could this be the reason why?

[2020-07-12 19:38] acxz commented on #296
hmm could be although I have a feeling for this issue it doesn't matter. For the tensorflow-rocm issue that is most likely the case.

[2020-07-15 16:43] rbberger opened #299 "[rock-dkms-firmware-bin] Outdated URL in PKGBUILD"
Trying to install the `rock-dkms-firmware` package fails with
[code]

### Reason:
[code]
The file http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms-firmware_3.5-32_all.deb doesn't exist.

### Workaround:

Replace the source line in the PKGBUILD
[code]

[2020-07-15 18:53] gmaleshkov commented on #299
Same issue as  #286

[2020-07-15 21:57] acxz commented on #299
Thx for reporting, should be resolved with cae3851

[2020-07-15 21:57] #299 closed

[2020-07-15 22:29] acxz commented on #267
Removing patch label since the upstream PR does not work anymore.

[2020-07-15 22:31] acxz commented on #286
Decided to just go ahead and fix this. Should be good with 1e0067c

[2020-07-15 22:31] #286 closed

[2020-07-15 22:35] acxz commented on #296
@Awlexus I'm going to close this issue since I believe the issue is mostly likely the same or very closely related to #267

[2020-07-15 22:35] #296 closed

[2020-07-18 10:36] chengyuhui opened #302 "[rccl] Build (linking) fails with llvm crashing"
All other relevant dependencies are installed from arch4edu. It seems that at least one other user on AUR has the same problem.

Sorry for these Chinese messages, but they probably shouldn't matter.

<details>
  <summary>Log</summary>

[code]
</details>

[libamdhip64-50dadf.tar.gz](https://github.com/rocm-arch/rocm-arch/files/4941483/libamdhip64-50dadf.tar.gz)

[2020-07-18 12:28] tpkessler commented on #302
Hey @chengyuhui! To get English error messages, set `LANG=C`:

[code]

I cannot reproduce your build error (all packages installed from `arch4edu`). It's likely a compiler and not a packaging bug.

[2020-07-18 14:50] fernandoblalves opened #303 "[rocrand] can't build"
Hi all,

My guess is that it's missing the `HIP ROOT` and `BUILD_SHARED_LIBS` variables, I tried exporting them but weren't read. The full output can be read [here](https://pastebin.com/iQCxu6qa).

[2020-07-18 21:45] acxz commented on #303
hmm haven't seen that error before. Can you try installing in a clean chroot? https://wiki.archlinux.org/index.php/DeveloperWiki:Building_in_a_clean_chroot#Convenience_way

For an easier way to use clean chroot with arch4edu (since you will need many deps) refer to this comment: https://github.com/rocm-arch/rocm-arch/issues/168#issuecomment-629389272

[2020-07-19 04:44] axiaobugs commented on #302
Same error with me.
=> Making package: rccl 3.5.0-2 (Sun 19 Jul 2020 14:41:34)
==> Checking runtime dependencies...
==> Checking buildtime dependencies...
==> Retrieving sources...
  -> Found rccl-3.5.0.tar.gz
==> Validating source files with sha256sums...
    rccl-3.5.0.tar.gz ... Passed
==> Extracting sources...
  -> Extracting rccl-3.5.0.tar.gz with bsdtar
==> Removing existing $pkgdir/ directo

[2020-07-19 12:14] tpkessler commented on #302
Can you guys try to compile the latest `llvm-amdgpu` from my PR #305 ? Do your problems persist?

[2020-07-19 12:42] chengyuhui commented on #302
I really would like to, but I don't currently have enough resource for compiling such a large package.

[2020-07-19 13:32] Compizfox opened #306 "[rocclr] fails to build"
I'm trying to install `rocm-opencl-runtime` but it fails when building `rocclr`:

[code]

[2020-07-19 13:57] acxz commented on #306
Thanks for reporting @Compizfox . This issue should be patched with #304
We will keep this issue open until upstream releases a new version without the need for us to patch it.

[2020-07-19 14:18] Compizfox commented on #306
That was quick! I can confirm it builds now.

[2020-07-20 09:50] fernandoblalves commented on #303
Weird, indeed it installs without issues using `arch4edu-x86_64-build`.

[2020-07-20 09:50] #303 closed

[2020-07-20 12:31] axiaobugs commented on #302
I am done when I installed nccl

[2020-07-27 12:29] atlantasticMKQ opened #307 "[comgr] Build failed in comgr"
I try to install it with yay
And failed because error: 'StringSwitch' was not declared in this scope
[code]

[2020-07-27 23:33] acxz commented on #307
If you just want to use `comgr` take a look at [arch4edu](https://github.com/arch4edu/arch4edu/wiki/Add-arch4edu-to-your-Archlinux) they are graciously packaging the AUR packages here for us. (Make sure to give them some love and a star!)

If you still want to compile form source then try the following suggestion:
Can you try a recursive rebuild? `yay -Syu comgr --rebuildtree` Please let us know i

[2020-07-28 03:08] atlantasticMKQ commented on #307
I  test `yay -Syu comgr --rebuildtree` and failed again because of the same error
[code]
I wander it's because I installed aur/llvm-amdgpu-git latest-1 instead of aur/llvm-amdgpu

[2020-07-28 03:18] acxz commented on #307
hmm could be, what does compiling with `llvm-amdgpu` (non-git) get you?

[2020-07-28 04:19] atlantasticMKQ commented on #307
Build successfully, it's work for me.
[code]

[2020-07-28 11:31] acxz commented on #307
I'll go ahead and close the issue. You can submit an upstream issue if you want. But I don't think they will take you seriously either since you are not building with the latest release, but instead the development version.

[2020-07-28 11:31] #307 closed

[2020-08-02 06:25] naetherm commented on #262
That's exactly what I thought, otherwise everything would become irritating.

[2020-08-02 14:27] acxz opened #309 "[miopengemm] fatal error: terminated compilation"
[code]

[2020-08-02 14:29] acxz commented on #302
@chengyuhui and @axiaobugs are you guys still able to reproduce this error?
The build works just fine for me.

Also I don't understand this statement if you could clarify that would be great.

Does this mean it started working for you after you installed `nccl`?

[2020-08-02 14:37] tpkessler commented on #309
Hey @acxz, I cannot reproduce your build error in a clean chroot. Do you have enough RAM available?

[2020-08-02 14:43] acxz commented on #309
Yeah I think that's the issue. I'm sad because I was able to build this just fine previously.

[2020-08-02 14:47] acxz commented on #309
we good now, sorry for the noise!

[2020-08-02 14:47] #309 closed

[2020-08-03 06:20] axiaobugs commented on #302
yes

[2020-08-05 00:12] kozross opened #310 "Rudimentary Navi support possible - should we integrate?"
Unfortunately, [AMD are being a bit silly on this point][1], so [someone else stepped up][2]. However, it's [clearly far from a good state][3]. Is this something we want to watch and/or use?

[1]: https://github.com/RadeonOpenCompute/ROCm/issues/887#issuecomment-668889122
[2]: https://github.com/smartbitcoin/MyROCm
[3]: https://github.com/smartbitcoin/MyROCm/issues/2

[2020-08-05 01:01] acxz commented on #310
We can't really integrate it as it is closed source. If you or anyone else wants to they can make a PKGBUILD for it and put it up on the AUR, but since it is not a "rocm" package/repo from AMD themselves it doesn't fit in this repository.

[2020-08-05 01:04] #310 closed

[2020-08-05 15:14] ArchangeGabriel commented on #262
Hi there,

So my comments on this: targeting OpenCL only at first seems a good idea to start. `llvm-amdgpu` would not be able to enter [community], so we indeed need to wait for LLVM to release a version with AMD extensions inside.

[2020-08-05 20:27] tkuestner opened #311 "[comgr] fails to build"
I'm trying to install comgr via `yay -S comgr`, but it fails to build with the following message:

<details open>
<summary>Log, first half</summary>
<br>

:: (1/1) Parsing SRCINFO: comgr
==> Making package: comgr 3.5.0-2 (Wed Aug  5 22:17:08 2020)
==> Retrieving sources...
  -> Found comgr-3.5.0.tar.gz
==> Validating source files with sha256sums...
    comgr-3.5.0.tar.gz ... Passed
==> Making pack